<div class="switch_dom" id="switch_dom">
  <div id="title">Modification de votre mode de paiement</div>
  <div style="margin-left: 20px; width: 800px;">
   <% form_for(:customer, :url => customer_payment_methods_path(:customer_id => current_customer.to_param), :html => { :method => :put }) do |f| %>
    <div style="width: 800px;" > <img src="/images/card.png" style="float: left; padding-right: 10px;">
      <p>
      <h3>Vous avez opté pour un paiement automatique via votre carte de crédit</h3>
      </p>
      <p> Vous allez être redirigé vers une page de paiement sécurisé de notre partenaire Ogone, leader mondial des paiements en ligne. <strong>Le libellé de cet achat apparaîtra avec le texte suivant sur votre relevé de carte bancaire: "www.dvdpost.be"</strong> Pour votre sécurité et assurer le bon déroulement de la procédure d'achat, la transaction est effectuée par une société tierce, Ogone. La transaction est sécurisée et utilise un cryptage 128 bits. </p>
    </div>
    <div align="right" style="padding-right: 8px;">
    <table cellspacing="0" cellpadding="0">

      <tr>
        <td align="left"><img width="130" height="66" align="left" style="padding-right: 25px;" src="http://www.dvdpost.be/images/www3/languages/french/images/buttons/canvas/logo_ogone_big.gif"></td>
        <td><img src="http://www.dvdpost.be/images/dvdpost_public/bg-top-nav-sep.gif"></td>
        <td style="padding-top: 10px; padding-left: 10px;">
          <button type="submit" class="button_confirm_switch">CONTINUER</button>
        </td>
      </tr>
    </table>
    </div>
    <% end %>
  </div>

</div>