<div class="switch_dom" id="switch_dom">
  <div id="title">Modification de votre mode de paiement</div>
  <div style="margin-left: 20px; width: 800px;">
    <form method="get">
    <div style="width: 800px;" > 
      <p>
      <h3>Vous avez opté pour un paiement par domiciliation bancaire</h3>
      <p>Afin d'activer celle-ci nous vous proposons les deux options suivantes :</p>
      </p>
      
      <div style="width: 800px;" class="payment">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="margin-left: 10px;">
          <tbody>
            <tr>
              <td colspan='2'><h3> option 1</h3></td>
            </tr>
            <tr>
              <td width='80'><img src="/images/dom.png"></td>
              <td><p>Vous pouvez très facilement activez la domiciliation bancaire via PC banking, vous devez simplement introduire notre numéro de créancier/d'identification (n°00478510502) ainsi votre numéro de client chez nous (n° <%= current_customer.to_param %>). </p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div style="width: 800px;" class="payment ">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="margin-left: 10px;">
          <tbody>
            <tr>
              <td colspan='2'><h3>option 2</h3></td>
            </tr>
            <tr>
              <td width='80'><img src="/images/pdf.png"></td>
              <td><p>Alternativement, vous pouvez télécharger <a target="_blank" href="http://www.dvdpost.be/images/pdf_dom70/domiciliation_<%= I18n.locale == :nl ? 'nl' : 'fr' %>.pdf" target="_blank" style="color:#FF3300;">le document suivant</a>, le remplir et le remettre à 
votre institution financière.  Le mode de paiement sera modifié quand celle-ci nous transmettra par la suite la confirmation de votre 
domiciliation. </p></td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    

</div>