<div class="abosvodadult">
  <% if ENV['HOST_OK'] == "0" %>
    <% if current_customer.abo_active == 0 %>
      <%= t('.abo_not_active')%>
    <% else %>
      <%= t(svod_title(current_customer), :next_reconduction_at => next_reconduction_at(current_customer)) %>
      <% form_for :svod, :url => customers_svod_path(), :html => {:method => :put, :id => "form_svod"} do |f| %>
        <div align="center" style="padding-top:20px;">
          <%= submit_tag t(svod_btn(current_customer)), :id => "submit_svod", :class => :button %>
        </div>
    
      <% end %>
    <% end%>
  <% else %>

    <%= t('.svod_public', :link => info_path(:page_name => :price)) %>
  <% end %>
</div>
