<div class="container2">
  <div id="options">RECHERCHER par : 
    <%= link_to 'Studios', studios_path() %>  
    |
    <%= link_to 'performers', actors_path(), :class =>"active" %> 
  </div>
  <p id="letters">
    <% ('a'..'z').each do |l| %>
      <%= link_to l.upcase, actors_path(:letter => l) %> |
    <% end %>
  </p>
  <ul id="search-performers">
  <% @actors.each do |key , value|  %>
    <%= render :partial => '/actors/index/actors', :locals => { :details => value, :letter => key, :type => params[:letter] ? :letter : :all} %>
  <% end %>
  </ul>
</div>