<% path = method == :delete ? shopping_cart_path(:id => cart.to_param) : shopping_carts_path %>
<% form_for(:shopping_cart, :url => path, :html => {:method => method}) do |f|%>
  <%= f.hidden_field :products_id,  :value => product.id %>
  <span>
    <%= submit_tag text, :class => class_name %>
  </span>
<% end %>