<ul id="banners" class="clearfix">
  <% banners.collect do |banner| %>
  <li>
    <a href="<%= product_path(:id => banner.to_param, :source => source)%>">
      <%= image_tag banner.banner_image(params[:kind]), :width => 293, :height => 186 %>
    </a>
    <%= render :partial => 'products/streaming',  :locals => {:product => banner, :token => nil, :text => :short, :source => source, :response_id => nil} %>
  </li>
  <% end %>
</ul>