<ul id="banners" class="clearfix">
  
  <% banners.collect do |banner| %>
  <li>
    <%= image_tag banner.banner_image(params[:kind]), :width => 293, :height => 186 %>
    <!--<a href="<%= streaming_product_path(:id => banner.imdb_id, :warning => 1) %>" class="btn">Regarder</a>-->
    <%= render :partial => 'products/streaming',  :locals => {:product => banner, :token => nil, :text => :short} %>
  </li>
  <% end %>
</ul>