<div id="featurelist-slider">
  <ul class="tabs osc">
    <%= render :partial => '/home/index/carousel_thumbs', :collection => carousel %> 
  </ul>
  <ul id="output">
    <%= render :partial => '/home/index/carousel_item', :collection => carousel %>
  </ul>
  </div>
