<% path = ENV['HOST_OK'] == "1" ? php_path(!session[:code].nil? ? 'step1.php?activation_code=' + session[:code]  : 'step1.php') : carousel_path(carousel_item) %>
<% link = ENV['HOST_OK'] == "1" ? t('home.index.carousel_item.public') : t("home.index.carousel_item.link_#{carousel_item.id}") %>
<% title = t("home.index.carousel_item_title.title_#{carousel_item.id}") %>
<% name = t("home.index.carousel_item.name_#{carousel_item.id}") %>
<% image = image_tag(carousel_item.image_public, :alt => title, :size => '707x342') %>
<li>
  <div class="caption osc">
    <h2><%= title %></h2>
    <p><%= name %></p>
  </div>
  
  <%= link_to link, path, :class => "watch-now osc btn#{carousel_item.kind == 'TRAILER' ? ' trailer': ''}" %>
  <%= link_to(image, path) %>
</li>
