<div id="tab-content-2" class="tab-content pie">
  <p class="intro"><%= t '.title' %></p>
  <ul id="coeur-content" class="comm-reaction">
    <%= render :partial => 'home/index/coeur_item', :collection => @data %>
  </ul>
  <br />
  <%= render :partial => "home/index/pagination", :locals => {:data => data, :kind => DVDPost.home_review_types.invert["BEST_REVIEW"], :precision => nil} %>
</div>