<ul id="tabs-review">
  <li><a href="#" id="tab1" <%= @review_kind == DVDPost.home_review_types[:best_rate] ? 'class="active pie"' : '' %> >Vos meilleurs films</a></li>
  <li><a href="#" id="tab2" <%= @review_kind == DVDPost.home_review_types[:best_review] ? 'class="active pie"' : '' %>>Les critiques coup de coeur</a></li>
  <li><a href="#" id="tab3"<%= @review_kind == DVDPost.home_review_types[:controverse_rate] ? 'class="active pie"' : '' %>>Films les plus controversés</a></li>
  <li class="last"><a href="#" id="tab4" <%= @review_kind == DVDPost.home_review_types[:best_customer] ? 'class="active pie"' : '' %>>Nos critiqueurs star</a></li>
</ul>