<li>
  <h3><%= news_item.title %></h3>
  <div class="wrap">
    <p><%= news_item.description.gsub('<a ', '<a target="_blank" ').gsub('</a>','').gsub('</p>','</a></p>') %></p>
    <%= image_tag news_item.enclosure.url, :align => 'left', :class => 'thumb' if I18n.locale == :en && news_item.enclosure  %> 
  </div>
</li>