<%= will_paginate data, :previous_label => '',
                              :next_label => "<span>Afficher plus de films</span>",
                              :page_links => false,
                              :param_name => :highlight_page,
                              :id => 'next_page',
                              :container => false %>