<!-- Services -->
<div id="services-wrap">
  <div id="bluray-dvd" class="wrap">
    <h3>BLU-RAY / DVD</h3>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam </p>
    <ul class="osc">
      <li><a href="#">VOIR TOUT LE CATALOGUE BLU-RAY / DVD</a></li>
    </ul>
  </div>
  <div id="vod-ppv" class="wrap">
    <h3>VOD / PPV</h3>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam </p>
    <ul class="osc">
      <li><a href="#">VOIR TOUT LE CATALOGUE VOD</a></li>
      <li><a href="#">VOIR TOUT LE CATALOGUE PPV</a></li>
    </ul>
  </div>
  <div id="apps">
    <h3>MULTI PLATEFORME</h3>
    <img src="images/apps.png" width="212" height="63" alt="Apps" />
    <ul class="osc">
      <li><a href="#">PLUS DE DETAILS</a></li>
    </ul>
  </div>
</div><!-- #services-wrap -->
