<div id="week-theme">
  <div class="caption maven"> <%= t '.title' unless theme.url %>
    <% path = get_path(theme) %>
    <h3><%= link_to t(".event_name_#{theme.id}"), path, :style => "color: #{theme.color_hp}" %></h3>
    <%= link_to t('.see'), path %>
  </div>
  <%= link_to image_tag(theme.image_home_page), path %>
</div>