<div class="top-wrap" id="top-actrices">
  <div class="ttl pie">Top Actrices</div>
  <div class="top pie"> <span class="thumb pie"><%= image_tag top_actors.first.image, :title => top_actors.first.name, :width => 138, :height => 189 %></span>
    <ul>
      <% top_actors.collect do |actor| %>
        <%= "<li><a href='#{actor_products_path(:actor_id => actor.to_param)}'><span>#{actor.name}</span> (#{actor.products.adult_available.count} films)</a></li>" %>
      <% end %>
    </ul>
  </div>
</div>
<div class="clear"></div>