<!--   ==============   LEFT COLUMN   ==============   -->
<div id="leftcolumn_contest">
    <ul id="left-cont">
      <li>
        <div id="contest" class="active"><%= t('.current_contests') %></div>
        <ul id="contest_list">
          <%= render :partial => "contests/item", :collection => contests %>
        </ul>
        <div id="contest" class="active">
          <%= link_to t('.old_contests'), contests_path(:type => :old), :class => :old %>
        </div>
      </li>
    </ul>
</div>
<!--   ==============   END LEFT COLUMN   ==============   -->