/*
===============
developed by Vel
at http://www.vhg-design.com
===============
*/


html, body{
  background: #2a2523 url(/images/chronicles/bg.jpg) 50% 0 no-repeat;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 62.5%;
}

body {
  color: #433634;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  
}

a {
  color: #433634;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, #right-nav, #carousel-nav {
  font-family: "Courier Bold", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-transform: uppercase;
}
h1 {
  font-size: 1.57em;
}
h2 {
  font-size: 1.29em;
}
h3 {
  font-size: 1.14em;
}
h4 {
  font-size: 1em;
}

p {
  margin-bottom: 18px;
  line-height: 1.3em;
}

input, select, textarea, button {
  font: normal 1em Arial, Helvetica, sans-serif;
}
textarea {
  overflow: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
}
.cf {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
}


#wrap {
  margin: 0 auto;
  text-align: left;
  width: 970px;
  padding: 0 11px;
  background: url(/images/chronicles/wrapper-bg.png) 0 0 repeat-y;
}

.container {}

.container ul, .container ol, .container dl {
  margin-bottom: 18px;
}
.container li, .container dt, .container dd {
  line-height: 1.3em;
}

.f-btn {
  display: block;
  text-indent: -999em;
  outline: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}




/*   ============   HEADER   ============   */

#header{
  height: 182px;
  position: relative;
  background: url(/images/chronicles/header-bg.jpg) 0 0 no-repeat;
  width: 100%;
}
#header h1 {
  height: 63px;
  padding-top: 40px;
  text-align: right;
}
#header h1 a {
  display: inline-block;
  text-align: left;
  width: 547px;
  height: 47px;
  margin-right: 19px;
}
#nav {
  float: right;
  margin: 18px 5px 0 0;
}
#nav li {
  float: left;
  line-height: 20px;
  display: block;
  padding: 0 11px 0 15px;
  background: url(/images/chronicles/nav-div.gif) 0 0 no-repeat;
}
#nav li:first-child {
  background: none;
}


#nav li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
#nav li a:hover, #nav li a.active {
  color: #473935;
}


/*   ============   MAIN CONTENT   ============   */

#maincontent{
  position: relative;

}
#hp-article {
  height: 412px;
  padding: 30px 17px 0 50px;
  overflow: hidden;
  background: url(/images/chronicles/hp-article-bg.jpg) 0 0 no-repeat;
}
#hp-article #article {
  width: 655px;
  float: left;
}

#hp-article #article img.left {
 margin:0 27px 15px 0;
}
#hp-article #article h2 {
  text-transform: uppercase;
}
#hp-article #article h2 a {
  text-decoration: none;
}
#hp-article #article h3 {
 font: italic normal 1em Arial, Helvetica, sans-serif;
 margin-bottom: 20px;
}
#hp-article #article p {
  text-align: justify;
}
#right-nav {
  display: block;
  width: 178px;
  height: 352px;
  background: url(/images/chronicles/cats-bg.png) 0 0 no-repeat;
  float: right;
}
#right-nav li {
  display: block;
  line-height: 25px;
  padding:0 5px 4px 16px;
  background: url(/images/chronicles/right-nav-div.png) 0 100% repeat-x;
}
#right-nav li.en {
  background: url(/images/chronicles/right-nav-div.png) 0 100% repeat-x;
}
#right-nav li.nl {
  background: url(/images/chronicles/right-nav-div.png) 0 100% repeat-x;
}

#right-nav li h3 {
  height: 109px;
}
#right-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
#right-nav li a:hover, #right-nav li a.selected {
  color: #e54e19;
}
#aa-wrap {
  /*height: 599px;
  overflow: hidden;*/
  padding: 30px 0 10px 50px;
  background: url(/images/chronicles/aa-bg.jpg);
}
#aa-wrap .ttl {
  height: 19px;
  margin-bottom: 18px;
  background: url(/images/chronicles/ANCIENS-ARTICLES.png) 0 0 no-repeat;
}
#aa-wrap .ttl.en {
  background: url(/images/chronicles/ANCIENS-ARTICLES.png) 0 0 no-repeat;
}
#aa-wrap .ttl.nl {
  background: url(/images/chronicles/ANCIENS-ARTICLES.png) 0 0 no-repeat;
}
#carousel-wrap {
  position: relative;
  overflow: hidden;

  /*height: 599px;*/
}
#carousel-nav {
  position: absolute;
  top: 0;
  right: 36px;
  color: #473935;
  font-size: 1.43em;
  font-weight: bold;
}
#carousel-nav .f-btn {
  width: 16px;
  height: 24px;
  vertical-align: top;
  background-image: url(/images/chronicles/carousel-arrows.png);
  background-repeat: no-repeat;
  display: inline-block;

}
#carousel-nav .prev_page {
  width: 16px;
  height: 24px;
  vertical-align: top;
  background-image: url(/images/chronicles/carousel-arrows.png);
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -999em;
  background-position:  0 0;
  
}
#carousel-nav .next_page {
  width: 16px;
  height: 24px;
  vertical-align: top;
  background-image: url(/images/chronicles/carousel-arrows.png);
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -999em;
  background-position:  100% 0;
  
}
#prev .next_page
{
  display:none;
}
#next .prev_page
{
  display:none;
}

#carousel {
  width: 10000em;
}
#carousel > li {
  float: left;
  width: 200px;
  margin-right: 30px;
  display: block;
  position: relative;
  font-size: 0.86em;
  line-height: 16px;
}
#carousel > li .icon {
 position: absolute;
 right: -18px;
 top: 162px;
}
#carousel > li img {
  margin-bottom: 15px;
}


#carousel > li h3 {
  font-size: 1.33em;
  text-transform: uppercase;
  margin: 6px 0 3px 0;
}
#carousel > li h3 a {
  text-decoration: none;
}
#carousel ol li {
  list-style-position: inside;
  margin-bottom: 18px;
}
#indexfilms {
  padding: 24px 17px 10px 32px;
  background: url(/images/chronicles/indexfilms-bg.jpg);
  overflow: hidden;
  position: relative;
}
#indexfilms a {
  text-decoration: none;
}

#indexfilms .ttl {
  font-size: 1.36em;
  font-weight: bold;
  margin-bottom: 30px;
}


#indexfilms .ttl img {
  margin-right: 25px;
}
#indexfilms .col {
  width: 300px;
  padding-right: 7px;
  float: left;
}
#indexfilms .col ul {
  display: block;
  margin: 8px 0 30px;
}
#indexfilms .col ul:last-child {
  margin-bottom: 10px;
}


#back-to-top {
  display: inline-block;
  position: absolute;
  bottom: 11px;
  right: 18px;
}
#about-article {
  min-height: 546px;
  background: url(/images/chronicles/about-bg.jpg) 0 0 no-repeat;
  overflow: hidden;
  padding: 35px 60px 10px 475px;
}
#about-article.lang_en {
  padding: 4px 60px 10px 475px; 
}
#about-article .ttl {
  margin-bottom: 20px;
}
#about-article p {
  text-align: justify;
}
#about-article #sig {
  margin-left: 235px;
}
#articles-wrap {
  background: url(/images/chronicles/indexfilms-bg.jpg);
  overflow: hidden;
  padding: 30px 0 10px;
}
#articles-wrap #content {
 width: 596px;
 float: right;
 margin-right: 60px;
 text-align: justify;
}
#articles-wrap #left-sidebar {
  width: 237px;
  margin-left: 50px;
}
#articles-wrap .img-wrap {
  margin-bottom: 18px;
}


#articles-wrap .img-wrap img {
  margin-left: 15px;
}
#articles-wrap .img-wrap img:first-child {
  margin-left: 0;
}
#articles-wrap .video-wrap {
  margin: 15px 0 30px;
}
#articles-wrap #social-wrap {
  padding: 15px 0 0 11px;
}
.cross
{
  height:200px; 
  overflow:hidden;
}
#content td
{
  padding: 2px;
}
#content img
{
  cursor: pointer;
}