
#concours-wrap .ttl {
  background: url(../images/Prochainement-icon.png) 0 0 no-repeat;
  font: normal 2em "MisoBold", Arial, Helvetica, sans-serif;
  color: #ff4b00;
  padding: 12px 0 4px 41px;
  position: relative;
}
#concours-wrap h3 {
  font-size: 1.33em;
  color: #525253;
  margin-bottom: 10px;
}
#concours-wrap form,#concours-wrap #result {
  display: block;
  background: white;
  border: 1px solid #939393;
  padding: 20px 35px 35px 40px;
  min-height:265px;
}
#concours-wrap form fieldset {
  float: right;
  display: block;
  width: 280px;
  font-size: 1.17em;
  padding-top: 30px;
}
#concours-wrap form fieldset label {
  margin-top: 8px;
}
#concours-wrap form fieldset label input {
  vertical-align: middle;
}
#concours-wrap form button {
  float: right;
  background: transparent;
  border: none;
  padding: 0;
  margin-top: 15px;
  cursor: pointer;
}
#concours-wrap form button span {
  display: block;
  height: 29px;
  padding-right: 11px;
  background: url(../images/btn-bg.png) 100% 0 no-repeat;
  border-style:none;
}
#concours-wrap form button span strong {
  display: block;
  height: 29px;
  line-height: 29px;
  padding-left: 11px;
  background: url(../images/btn-bg.png) 0 0 no-repeat;
  color: white;
  text-shadow: 1px 1px 1px #555555;
  font-weight: normal;
}
#concours-wrap #titles-wrap .last {
  margin-bottom: 80px;
  text-align: center;
}
#quizz-mois {
  padding: 15px;
  background: white url(../images/quizz-shadow.gif) 0 100% repeat-x;
  border: 1px solid #939393;
  font-size: 1.17em;
  margin-bottom: 35px;
}
#quizz-mois #video-wrap {
  float: left;
  margin-right: 25px;
}
#quizz-mois h3 {
  font-size: 1.14em;
}
#concours-wrap #carousel-wrap {
  width: 667px;
  background: transparent url(../images/quizz-slider-shadow.jpg) 0 100% no-repeat;
  padding: 0 4px 12px 3px;
  margin: 0 0 10px;
  position: relative;
}
#concours-wrap #carousel {
  width: 659px;
  padding: 12px 0 12px 8px;
  border: 1px solid #6f6f6f;
  background: white;
  margin-bottom: 0;
 height: 131px;
}
#concours-wrap #carousel ul {
  top: 12px;
  left: 8px;
  width: 660px;
  display: block;
}
#concours-wrap #carousel ul li {
  width: 157px;
  height: 131px;
  float: left;
  display: block;
  position: relative;
  margin: 0 8px 0 0;
  padding: 0;
}
#concours-wrap #carousel ul li span {
  display: block;
  height:16px;
  line-height: 16px;
  width: 151px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #1c1818;
  color: white;
  padding: 0 3px;
  text-align: right;
  font-size: .92em;
  text-transform: uppercase;
  overflow: hidden;
}
#concours-wrap #carousel-wrap .next_page, #concours-wrap #carousel-wrap .prev_page {
  position: absolute;
  width: 16px;
  height: 160px;
  display: block;
  top: 72px !important;

}
#concours-wrap #carousel-wrap .next_page {
  right: -17px !important;
  background: url(../images/carousel-arrows.png) 100% 0 no-repeat;
}
* html #concours-wrap #carousel-wrap .next_page {
  right: -17px !important;
}
#concours-wrap #carousel-wrap .prev_page {
  left: -17px;
  background: url(../images/carousel-arrows.png) 0 0 no-repeat;
}



@charset "UTF-8";
/* CSS Document */

.contest_form {
	padding: 10px;
	width: 611px;
}
.question {
	font-size:18px;
	padding-top: 20px;
}
#contest_content {
	color:#191e23;
	float: right;
	margin: 23px 43px 16px 0;
	position: relative;
	width: 708px;
	z-index: 1;
}
#title_contest {
	font-size:18px;
}
#contest_content #field_form {
	font-size:14px;
}
.big_title {
	font-size:24px;
	font-weight:bold;
}
#leftcolumn_contest #left-cont li div.active {
	border: 1px solid #FF3300;
	color: #FF3300;
	font-size: 1.2em;
	font-weight: bold;
	height: 33px;
	margin: 15px 10px 2px 14px;
	padding: 5px 0 5px 9px;
	text-transform: uppercase;
	width: 175px;
}
a.old
{
  color: #FF3300;
}
#leftcolumn_contest #left-cont li ul {
	display: block;
	padding: 6px 0 3px;
	width: 182px;
}
ul .cont {
	padding-left: 25px;
}
li .cont {
	padding-bottom: 9px;
}
.cont a {
	color: #595a5e;
}
.cont .active {
	color: #FF3300;
	font-weight:bold;
}
#leftcolumn_contest {
	float: left;
	margin: 12px 0 0;
	position: relative;
	width: 185px;
}
#contest_content .content_left {
	float: left;
	width: 500px;
}
#contest_content .content_right {
	float: right;
	padding-top: 20px;
}
#contest_content .content_right h3 {
	font-size:20px;
}
#contest_content .content_right a {
	text-decoration:underline;
	color: #191E23;
}
#contest_content .button_contest {
	background:url(../images/contest.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	 border: medium none;
	cursor: pointer;
	text-decoration: none;
	padding:0 0 0 9px;
	height: 24px;
	width: auto;
	
}
#contest_content .button_contest strong {
	background: url(../images/contest_end.png) no-repeat scroll 100% 0 transparent;
	display: inline-block;
	color: #FFFFFF;
	 border: medium none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.30em;
	padding-right: 9px;
	 cursor: pointer;
	line-height: 26px;

}

#contest_content .button_contest:hover {
    background-position: 0 -31px;
}

#contest_content .button_contest:hover strong {
    background-position: 100% -31px;
}

#field_form {
padding-bottom:12px; 

}






















