@charset "ISO-8859-1";

.account {
  margin: 20px 40px;
}

#maincontent .end, #one-col #maincontent .end {
  background-image: url(../images/content-end-bg-wishlist.gif)
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 5px;
  left: 0;
  position: absolute;
  width: 922px;
}

* html #maincontent .end {
  font-size: 0.1em;
}

#mywhishlist #maincontent .end, #one-col #maincontent .end {
  background-position: 0 100%;
  bottom: 0;
}

*+html #one-col #maincontent .end {
  position: relative; 
  margin: 0 0 -18px -15px;
}

#title {
  color:#303030;
  font-family:Arial, Helvetica, sans-serif;
  font-size:18px;
  margin:4px 0 7px;
}

#content_gauche {
  background-color:#FFF;
  border:#505050 solid 1px;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
  color:#505050;
  padding:5px;
}

#gauche {
  display:block;
  float:left;
  width:485px;
  font-family:Arial, Helvetica, sans-serif;
}

#content_droite {
  background-color:#FFF;
  border:#505050 solid 1px;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
  color:#505050;
  padding:5px;
}

#droite {
  display:block;
  float:right;
  width:372px;
  font-family:Arial, Helvetica, sans-serif;
}

#modif {
  padding-left:40px;
}

.modif, .modification_account, .modification_address { 
  font-size:14px;
  font-family:Arial, Helvetica, sans-serif;
  color:#ff4b00;
}

.suppendre { 
  font-family:Arial, Helvetica, sans-serif;
  color:#acacac;
  float:right;
}

ul, ol, dl, dt, dd {
  list-style:none outside none;
}	

li.links a.modification_account, li.links a.modification_address{
  background: url(../images/crayon.gif) no-repeat scroll 0 0 transparent;
  padding-left:19px;
  text-decoration:underline;
  margin:0 6px;
}

li.links a {
  letter-spacing:-1px;
}

.ligne {
  background-color:#f6f6f6;
  height:5px;
}

.rotation { background-color:#ffe809;
  text-align:center;
  padding:3px;
}

.adulte_text {
  color:#e84e98;
}

.adresse {
  padding-top:10px;
}
.transit {
  padding-top:3px;
}
.transit a{
  color: #505050;
}
.bottom_text {
  padding-bottom:10px;
}

#code_cado {
  padding-top:10px;
}

#code_cado  #title{
  float:left;
}

#code { clear:both;}

#cado{ float:right; }

#code  input {
  background-color:transparent;
  background-image:url(../images/bg_codepromo.png);
  background-repeat:no-repeat;
  border:0 none;
  height:72px;
  width:485px;
}

.code_text {
  color:#909090;
  font-size:15px;
  margin-top:-7px;
  padding-bottom:10px;
  padding-left:38px;
}
.rotation_dvd
{
  margin:0px;
}
.rotation_dvd .title
{
  position:absolute;
  width:210px;
  text-align: right;
}
.rotation_dvd .dvd
{
  margin-left:220px;
}
.rotation_dvd .dvd img
{
  vertical-align: middle;
}
.add_norm,.add_adult
{
  background: url("../images/plus.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
   cursor: pointer;
   height: 15px;
   text-indent: -999em;
   width: 15px;
}
.form_rotation
{
  display:inline;
}
#bt_valid {
    background: url("../images/bt_valid.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-size: 1.3em;
    height: 27px;
    margin: 11px 0 0;
    padding: 1px 0  0 0;
    text-align: center;
    text-decoration: none;
    width: 93px;
}

#info_abo li:first-child {
    margin: -5px 0 0;
}
#info_abo .title {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 12px;
    padding-bottom: 5px;
}


#info_abo {
padding-top:10px;
text-align:left;
color: #201F20;

}

#info_abo p {
line-height: 16px;

}


.info_abo {
color: #201F20;

}

.info_abo .bonus_vod {
padding-left:119px;

}


#info_abo h4 {
    border-bottom: 1px dotted #A3A4A7;
    color: #fa3c16;
    font-size: 1.17em;
    margin-bottom: 12px;
    padding: 0 15px 8px 0;
}



#info_abo h4 span{
    color: #201F20;
	font-weight: lighter;
	 font-size: 0.82em;
}


#content_droite .link_formula {
    border-top: 1px dotted #A3A4A7;
    padding-top: 5px;
}

a.renew{
  color: #201F20 !important;
}
.alert {
  line-height: 24px;
  padding: 4px 2px 4px 35px;
  background: #fec8c0 url(../images/alert-icon.png) 8px 50% no-repeat;
  margin: 3px 0;
  color: #fa3216;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.8em;
}