div#featurelist-slider {
  height: 343px;
  overflow: hidden;
  position: relative;
  clear: both;
}

div#featurelist-slider ul {
  position: absolute;
  top: 0;
}

ul.tabs {
  right: 20px;
  width: 214px !important;
  z-index: 2;
}

ul.tabs li {
/*height: 56px;*/
  display: block;
  position: relative;
}

ul.tabs li.last a {
  padding-bottom: 1px;
}

ul.tabs li img {
  position: absolute;
  top: 1px;
  right: 1px;
  filter:alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/* IE8 */
}

ul.tabs li a {
  background: none repeat scroll 0 0 #E6E6E6;
  border-top: 1px solid #DFDFDF;
  display: block;
  height: 46px;
  padding: 5px 5px 5px 10px!important;
  text-decoration: none;
}

ul.tabs span {
  display: block;
}

ul.tabs span.arrow {
  display: none;
  position: absolute;
  width: 10px;
  height: 21px;
  background: url(../images/fl-arrow.png) 0 0 no-repeat;
  left: -10px;
  top: 17px;
}
.not p {
  font-size: 14px;
  padding-top: 4px;
}
ul.tabs a .ttl {
  color: #8A8A8A;
  font-size: 17px!important;
  font-weight: bold;
  line-height: 1;
}

ul.tabs a .g {
  font-size: 14px;
  color: #a7a7a7;
  line-height: 1;
}

ul.tabs li a:hover, ul.tabs li a.current {
  background: #fff;
}

ul.tabs li a:hover img, ul.tabs li a.current img {
  filter:alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/* IE8 */
}

ul.tabs li a.current:hover {
  text-decoration: none;
  cursor: default;
}

ul.tabs li a.current .arrow {
  display: block;
}

ul.tabs li a:hover .ttl, ul.tabs li a.current .ttl {
  color: #212a31;
}

ul.tabs li a:hover .g, ul.tabs li a.current .g {
  color: #50606c;
}

ul#output {
  left: 0;
  width: 620px;
  height: 343px;
  position: relative;
}

ul#output li {
  height: 343px;
  position: absolute;
  width: 707px ;
	
}

ul#output li img {
  border: none ;
}

ul#output li .caption {
  bottom: 13px ;
  color: #FFFFFF;
  font-size: 15px ;
  left: 20px;
  position: absolute;
  width: 400px ;
  text-shadow: 0px 1px 10px #242424;
}

ul#output li .caption p {
  margin-bottom: 0;
   line-height: 18px;
}

ul#output li .caption h2 {
  color: #FFFFFF;
  float: none;
  font-size: 26px!important;
  font-weight: bold;
  line-height: 1;
}

ul#output li a.watch-now {
  position: absolute;
  display: block;
  width: 243px;
  line-height: 41px;
  background: url(../images/sprite.png) no-repeat scroll -349px -287px transparent!important;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-left: 44px;
  right: -11px;
  bottom: 18px;
}