#film-details .container {
  background: #c3d1db url(../images/lc-bg.gif) 0 0 repeat-y;
}

#film-details #maincontent {
  float: right;
}

#film-details #maincontent h2.ttl {
  padding: 17px 20px;
  background: #fff;
  font-size: 45px;
}

#film-details .ttl-wrap {
  padding: 20px;
  background: #fff;
  overflow: hidden;
}

#film-details div.ttl {
  float: left;
  width: 345px;
}

#film-details div.ttl h2 {
  font-size: 45px;
  line-height: 1;
}

#film-details div.ttl h3,#film-details div.ttl h3 a {
  font-size: 14px;
  color: #a3c41c;
  font-weight: bold;
}

#votes-wrap{
  float: right;
  width: 255px;
}

#fav {
  float: left;
  width: 80px;
  text-align: center;
  margin-right: 20px;
}

#fav strong {
  display: block;
  color: #ff4b00;
  font-size: 10px;
}

#votes {
  float: left;
}

#votes div {
  margin-bottom: 10px;
}

#votes div img {
  margin-left: 7px;
}

#votes .osc {
  display: block;
  margin: -7px 0 5px;
  font-size: 14px;
}

#votes div img:first-child {
  margin-left: 0;
}

#votes div a {
  font-size: 10px;
  font-weight: bold;
}

#votes div a:first-child {
  margin-right: 0px;
}

#film-info {
  padding: 20px 15px 20px 20px;
  background: #fff url(../images/film-info-bg.gif) 0 0 repeat-x;
  overflow: hidden;
  color: #5f6f7b;
  font-size: 14px;
}

#film-info h3 {
  color: #1b2228;
  font-size: 18px;
}

#film-info p {
  margin-bottom: 8px;
}

#actors, #directors {
  position: relative;
  padding-left: 70px;
  margin-bottom: 8px;
  overflow: hidden;
  font-size: 12px;
  height:26PX;
}

#directors {
  padding-left: 90px;
}

#actors h3, #directors h3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  text-transform: uppercase;
}

#film-img-wrap {
  float: left;
  margin: 4px 15px 0 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 4px #000000;
  -webkit-box-shadow: 0px 0px 4px #000000;
  box-shadow: 0px 0px 4px #000000;
  overflow: hidden;
}

#film-img-wrap.dvd {
  background: #000014;
}

#film-img-wrap.vod {
  background: #85BA17;
}
#film-img-wrap.bluray, #film-img-wrap.bluray_3d {
  background: #0497D0;
}

#film-img-wrap .osc {
  display: block;
  text-align: center;
  line-height: 22px;
  color: #fff;
  font-size: 18px;
  text-transform:uppercase;
}

#btns-wrap {
  overflow: hidden;
}

#btns-wrap a, #btns-wrap input {
  display: inline-block;
  color: #fff;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  font-weight: bold;
}
#btns-wrap input:hover {
  text-decoration: underline;
}
#btns-wrap a#watch {
  width: 122px;
  height: 57px;
  font-size: 17px;
  padding: 18px 0 0 62px;
  background-position: 0 -224px;
  margin-right: 10px;
  float: left;
  line-height: 1;
}

#btns-wrap a.ajouter, #btns-wrap #add-to-vod, #btns-wrap a#trailer {
  width: 124px;
  line-height: 22px;
  height: 24px;
  margin-bottom: 2px;
  font-size: 13px;
  padding-left: 30px;
}
#btns-wrap #add-to-vod
{
  width: 155px;
  background-color: transparent;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0 0 2px 18px;
}

#btns-wrap a.ajouter {
  background-position: -192px -224px;
}

#btns-wrap #add-to-vod {
  background-position: -192px -256px;
}

#btns-wrap a#trailer {
  background-position: -192px -288px;
}

#thumbs-wrap {
  clear: both;
  padding-top: 10px;
  margin-bottom: 10px;
}

#thumbs-wrap h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

#thumbs-wrap div a {
  margin-left: 7px;
}

#thumbs-wrap div a:first-child {
  margin-left: 4px;
}

#formats {
  background: #c3d1db url(../images/formats-bg.gif) 0 0 repeat-x;
}

#formats table {
  margin: 0 20px;
  width: 600px;
}

#formats th {
  padding: 15px 8px 10px;
  border-left: 1px solid #9aa8b1;
  font: normal 16px 'Open Sans Condensed', sans-serif;
  text-align: left;
  color: #1b2228;
  text-transform: uppercase;
}

#formats td {
  padding: 0 8px 25px;
  border-left: 1px solid #9aa8b1;
  font-size: 11px;
  color: #5f6f7b;
}

#formats tr th:first-child, #formats tr td:first-child {
  border: none;
  padding-left: 0;
}

#formats table span {
  display: block;
  width: 22px;
  height: 22px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 2px;
  padding-left: 2px;
  float:none;
  padding-top: 0;
}

#formats table span.dark {
  background: url(../images/sprite.png) -512px -128px no-repeat;
}

#formats table span.red {
  background: url(../images/sprite.png) -544px -128px no-repeat;
}

#formats table span.gray {
  background: url(../images/sprite.png) -576px -128px no-repeat;
}

#festival {
  padding: 20px;
  background: url(../images/tab-content-div.gif) 0 0 repeat-x;
  color: #5f6f7b;
}

#festival h3 {
  margin-bottom: 10px;
}

#rented-wrap {
  padding: 30px 20px 0;
  position: relative;
  background: #6f7f8d url(../images/rented-bg.gif) 0 0 repeat-x;
}

#rented-wrap h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 25px;
}
.pagination.arrow_left .prev_page {
top: 39px;

}
.pagination.arrow_right .next_page {
  right: 13px;
  top: 39px;
}
.pagination.arrow_left .prev_page, .pagination.arrow_right .next_page {
background-image: url(../images/jc-arrows-film.png);
}
.reserver_btn
{
padding: 0 0 0 29px !important;
text-align: left;
}
#stream_fake
{
  width: 182px;
  height: 83px;
  float: left;
}
#creditdorcel .credit {
color: #8A00B4;
width: 154px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
text-align: center;
font-weight: bold;
padding-top: 2px;
}
#creditdorcel .new {
background-color: #8A00B4;
color: white;
width: 149px;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
font-size: 11px;
text-align: center;
padding: 2px;
margin: 4px 6px 2px;
}