body, html{
  font-family: Arial, Helvetica, sans-serif;
}

#weekly-selection-wrap h2 {
  font-size:20px;
  font-weight:bold;
  color:#212a31;
  padding-bottom: 5px;
  padding-left: 8px;
}
.content a {color:#212a31;
  font-size:12pt;
  padding-left: 3px;
  padding-right: 0px;
}
#top_search .title {
  font-size:20px;
  font-weight:bold;
  color:#212a31;
  padding-bottom: 5px;
  padding-left: 8px;
}
.scroller {
  padding-left:10px;
}
#top_search  {
  padding-top:10px;
  padding-bottom:10px;
}
.scroller div.carousel-item {
  background-position: right center;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 11px;
  line-height: 13px;
  margin: 0 10px 0 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  width: 72px;
}
.scroller div.carousel-item span a {
  color:#212a31;
  font-size:11px;
}
.scroller div.carousel-poster img {
  margin-bottom: 3px;
  vertical-align: top;
  margin-top: 6px;
}
.jcarousel-item .jcarousel-item-horizontal h3 a 
{font-size:20px;
  font-weight:bold;
  color:#212a31;
}
#top
{ background: none repeat scroll 0 0 #212A31;
  height: 52px;
  position: relative;
  width: 100%;
}
#header h1 a {
  background: url("../images/mobile/logo_mobile.png") repeat scroll 0 0 transparent;
  float: left;
  height: 30px;
  margin: -27px 0 0 3px;
  width: 200px;
}
.adult #header h1 a 
{
  background: url("../images/mobile/logo_adult.png") repeat scroll 0 0 transparent;
  float: left;
  float: left;
  height: 30px;
  margin: -27px 0 0 3px;
  width: 150px;
}
#header span a 
{
  color: #FFFFFF;
  font-size: 12px;
  margin-left: -148px;
}
.f-btn {
  display: block;
  outline: medium none;
  text-indent: -999em;
}
#nav li 
{
  background: url("../images/mobile/trait_menu.gif") no-repeat scroll 0 0 transparent;
  float: left;
  height: 28px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
}
#nav a
{
  font-size:15px;
  text-transform:uppercase;
  color:#7d8891;
  display: inline-block;
  text-decoration: none;
}
#nav 
{
  background: url("../images/mobile/bg_menu.jpg") repeat-x scroll 0 0 transparent;
  height: 29px;
}
#nav a.active 
{
  color: #212a31;
}
a#nav7 
{
  color: #BD1F83;
}
a.trailer 
{
  color:#212a31;
  font-size:11px;
}
.jcarousel-item-horizontal img 
{
  float:left;
  margin:8px;
  clear:both;
}
.jcarousel-item-horizontal h4 
{
  color:#212a31;
  font-size:9px;
  text-transform:uppercase;
  font-weight: normal;
}
.jcarousel-item-horizontal h3 a
{
  color:#212a31;
  font-size:12px;
  font-weight: bold;
  text-decoration: none;
}
#change_site {
  background: none repeat scroll 0 0 #212A31;
  color: #FFFFFF;
  font-size: 12px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
}
#change_site a{
  color: #FFFFFF;
}
#footer  a.top{
  font-size: 12px;
  color:#212a31;
  font-weight:bold;
  margin-right: 12px;
}
.arrow_up 
{ background: url(../images/mobile/arrow_up.gif) no-repeat scroll 0 0 transparent;
  right: 106px;
  top: 14px;
  position: absolute;
}
#search input[type="text"] {
  background: none repeat scroll 0 0 #3A4853;
  border: 1px solid #65747F;
  color: #F7F7F7;
  height: 27px;
  line-height: 27px;
  padding: 0 32px 0 5px;
  width: 136px;
}
#search-btn {
  background: url("../images/mobile/search.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 23px;
  text-indent: -999em;
  width: 23px;
}
.wrap a#login, .wrap a#logout {
  color:#FFFFFF;
  font-size:12px;
  text-transform:uppercase;
  margin-right: 12px;
}
#lang a{
  color:#FFFFFF;
  font-size:12px;
  text-transform:uppercase;
}
#lang {
  display: block;
  font-size: 8px;
  margin: -1px auto;
  text-align: right;
}
#lang li {
  display: inline;
  margin: 0 10px 0 4px;
}
.search {
  padding-top:12px;
  padding-bottom:12px;
}
.jcarousel-item-horizontal .description {
  padding-bottom:15px;
}
.content {
  padding-left:10px;
  padding-right:10px;
  text-align:justify;
}
.jcarousel-item .image
{
  float:left;
}
.jcarousel-item
{
  margin: 6px 0 0 0;
  min-height: 70px;
  clear:both;
}
.jcarousel-item-horizontal p {
  color:#212a31;
  font-size:11px;
  margin:5px 0 0 115px;
}
#yes, #no
{
  color: #BD1F83;
  margin:4px;
  display: block;
}
form#search
{
  clear:both;
}
.footer .close
{
 display:none; 
}
#nav .dropdown
{
  display:none;
}
#add-to-vod
{
background: none;
text-decoration: underline;
margin: 0;
font-size: 11px;
font-weight: bold;
padding: 0;
color: #212A31;
}
#addwishlist_title
{
  margin:5px 0;
}
#desktop
{
  text-decoration: underline;
}