#maincontent {
width: 640px;
}
#slider-wrap {
  background: none repeat-y scroll 100% 0 #FFFFFF!important;
  padding: 22px 0 21px 20px;
}
#slider-wrap h2 {
  font-size: 40px;
   font-weight: bold;
  line-height: 1;
  float: left;
}
#browse {
  display: inline-block;
  width: 276px;
  line-height: 39px;
  float: right;
  margin: 0 8px 25px 0;
  background: url(../images/sprite.png) 0 0 no-repeat;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
  height: 39px;
}
#user-info-wrap {
  background: #f0f3f5 url(../images/user-info-bg.gif) 100% 0 repeat-y;
  overflow: hidden;
  padding-bottom: 15px;
}
#user-info-wrap h3 {
  font-weight: normal;
  font-size: 18px;
  color: #212a31;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 8px;
}
#user-info-wrap a.osc {
  font-weight: bold;
  color: #a3c41b;
  font-size: 14px;
  padding-left: 23px;
  background: url(../images/sprite.png) -608px 0 no-repeat;
  text-transform: uppercase;
}

.adult #user-info-wrap a.osc {
  background: url(../images/sprite_adult.png) -608px 0 no-repeat;
}

#user-info {
  width: 620px;
  padding: 20px 0 0 20px;
  background: url(../images/user-info-top-bg.gif) 0 0 repeat-x;
  float: left;
}
#user-info .left {
  width: 330px;
  color: #29333b;
}
#user-info .thumb {
  float: left;
  margin: 0 9px 5px 0;
}

#user-info dl {
 display: block;
 clear: both;
 font-size: 11px;
 margin-bottom: 1px;
 overflow: hidden;
}
#user-info dt {
  float: left;
  font-weight: bold;
  width: 175px;
  clear: left;
  margin-bottom: 5px;
}
#user-info dd {
  float: left;
  width: 150px;
  margin-bottom: 5px;
}
#user-info dd span {
  display: block;
}


#user-info .right {
  width: 290px;
}
#user-info .right ul {
  margin-bottom: 15px;
  font-size: 0;
}
#user-info .right li {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: top;
  margin: 0 3px 3px 0;

}
#week-theme {
   width: 290px;
   padding: 20px 0 0 30px;
   float: right;
   background: url(../images/week-theme-bg.gif) 0 0 no-repeat;
}
#week-theme img {
  margin-bottom: 17px;
}
#weekly-selection-wrap {
  background: url(../images/weekly-selection-bg.gif) 0 0 repeat-x;
}
#weekly-selection-wrap {
  padding-top: 22px;
}
#weekly-selection-wrap h2, #community-wrap h2 {
  font-size: 30px;
  color: #212a31;
  margin-bottom: 15px;
  line-height: 1;
  padding-left: 3px;
}
p.intro {
  font-size: 14px;
  color: #4a5863;
  margin-bottom: 7px;
}
.comm-reaction {
  overflow: hidden;
  margin-bottom: 0 !important;
}
.comm-reaction li {
  display: inline-block;
  width: 180px;
  min-height: 160px;
  vertical-align: top;
  margin: 0 20px 20px 0;
  font-size: 10px;
  color: #4a5863;
}

.comm-reaction .status {
  padding: 2px 10px 4px;
  background: #afbfcb;
  margin-bottom: 4px;
  -moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
font-weight: bold;
font-size: 18px;
text-transform: uppercase;
text-shadow: -1px -1px 0 #9aa9b3;
color: #fff;
}
.comm-reaction .status span {
  float: right;
}
.comm-reaction .thumb {
  float: left;
  margin-right: 8px;
}
.comm-reaction .wrap {
  padding-top: 16px;
}
.comm-reaction h4 {
 font-size: 16px;
 text-transform: uppercase;
}
.comm-reaction a.ajouter, .comm-reaction a.regarder {
  display: inline-block;
  width: 66px;
  line-height: 23px;
  padding-left: 28px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  background: url(../images/sprite.png) -352px 0 no-repeat;
}
.adult .comm-reaction a.ajouter, .adult .comm-reaction a.regarder {
  background: url(../images/sprite_adult.png) -352px 0 no-repeat;
}
.comm-reaction a.ajouter {
  margin-bottom: 3px;
}
.comm-reaction a.regarder {
  background-position: -352px -32px;
}
#tab-content-1 li .content a.view-all, #tab-content-3 li .content a.view-all {
padding-right: 15px;
background: url(../images/hp-ttls-nav-arrow.gif) 100% 0 no-repeat;
}
#tab-content-1 li .content, #tab-content-3 li .content {
float: right;
width: 156px;
height: 112px;
position: relative;
background: #F7F7F7;
font-size: .92em;
padding: 3px 3px 3px 6px;
color: #36404E;
font-weight: bold;
}
#tab-content-1 li .stat img{
  vertical-align: middle;
}
#tab-content-4 li .stat
{
  font-size: 1.2em;
}
#tab-content-1 li .thumb .no-change, #weekly-position li .no-change, #period-position li .no-change {
color: #FA6818;
}
#tab-content-1 li .thumb .up, #weekly-position li .up, #period-position li .up {
color: #7ECA31;
}
#tab-content-1 li .thumb .down, #weekly-position li .down, #period-position li .down {
color: #FF1301;
}
#tab-content-1 li .thumb .new, #weekly-position li .new, #period-position li .new {
  color: #fbb21d;
  font-weight: normal;
  font-size: 0.81em;
  text-transform: uppercase;
}

#tab-content-1 li .thumb .stat img, #weekly-position li .stat img, #period-position li .stat img {
float: none;
border: none;
margin: 0 auto 2px;
display: block;
}
#tab-content-2 li .critic img {
float: left;
border: 1px solid #838383;
margin-right: 6px;
}
#tab-content-2 li .critic .stars-wrap img {
float: none;
margin: 0;
border: none;
vertical-align: baseline;
}
#tab-content-2 li .thumb img {
border: 1px solid #272727;
margin-bottom: 4px;
}
#tab-content-2 li .thumb {
float: left;
width: 100px;
}
#tab-content-2 li.show {
width: 830px !important;
}
.content .comm-reaction {
width: 840px !important;
}
#tab-content-2 li.show .content {
width: 700px;
}
#tab-content-2 .comm-reaction li {
  width: 600px;
  margin: 0 14px 0 0;
}
#tab-content-2 .comm-reaction
{
  margin: 0 0 10px 0;
}
#tab-content-2 li .contents {
background: #C3D1DB url(../images/formats-bg.gif) 0 0 repeat-x;
padding: 5px 0 0 4px;
}

#tab-content-2 li .content {
float: right;
width: 473px;
min-height: 205px;
padding: 8px 5px 0 10px;
overflow: hidden;
font-size:1.2em;
}

#tab-content-2 h3 {
  overflow: hidden;
  line-height: 34px;
  background: url(../images/film-ttl-bg.gif) 0 0 repeat-x;
  border-bottom: 1px solid #B7BDC1;
  border-top: 1px solid #9EABB5;
  padding-left: 20px;
}


#tab-content-2 li .content .relevant {
font-size: .92em;
color: #414850;
}
#tab-content-2 li .content .write a {
font-size: .92em;
font-weight: bold;
padding-left: 15px;
background: url(../images/speach-bbl.png) 0 0 no-repeat;
}
#tab-content-2 li .critic .name img {
border: none;
}
#tab-content-2 li .critic .name a.all_critics {
font-size: 1.10em;
text-transform: none;
padding-right: 15px;
background: url(../images/hp-ttls-nav-arrow.gif) 100% 0 no-repeat;
margin-bottom: 10px;
display: inline-block;
}
#tab-content-2 li .content p {
line-height: normal;
margin: 5px 0;
}
#tab-content-2 .review_more u{
  text-align: right;
  width: 466px;
  display: block;
}
#tab-content-2 .align
{
  float:left;
}
#tab-content-2 .yn
{
  float:right;
}
#tab-content-2 li .content p.short_review
{
  margin:10px 0 3px 0;
}
#tab-content-3 li .thumb {
float: left;
width: 78px;
}
#tab-content-3 li .content {
width: 174px;
padding: 20px 0 0 0;
text-align:center;
}
#tab-content-3 .comm-reaction li {
width: 276px;
margin: 0 20px 5px 0;
font-size: 1.5em;

}
#tab-content-3 .view-all
{
  font-size: 0.7em;
}
#tab-content-3 li .content .votes .up {
padding: 5px 24px 0 0;
background: url(../images/thumb-up.png) 15px 4px no-repeat;
}
#tab-content-3 li .content .votes .down {
padding: 5px 24px 0 0px;
background: url(../images/thumb-down.png) 15px 5px no-repeat;
}
#tab-content-4 #positions h4 {
padding: 0 6px;
line-height: 27px;
background: #8997AA;
color: white;
font-size: 1.33em;
margin-bottom: 20px;
}
#tab-content-4 li a {
color: #4A5863;
}
#tab-content-4 #period-position li, #tab-content-4 #period-position li a {
color: #8997AA;
}
.comm-reaction h3 {
  font-size: 18px;
  margin-bottom: 4px;
}
#tab-content-2 .comm-reaction h3 {
  margin-bottom: 0;
}
#tab-content-4 #weekly-position {
float: left;
width: 300px;
}
#tab-content-4 #period-position {
float: right;
width: 300px;
margin: 0 4px 0 0;
}
#tab-content-4 li .count {
width: 26px;
float: left;
text-align: center;
font-weight: bold;
font-size: 1.17em;
padding-top: 7px;
height: 41px;
display: block;
background: #181D23;
color: white;
}
#tab-content-4 .big_details{
margin: 0 0 0 26px;
text-align: center;
font-size: 1.2em;
}
#tab-content-4 li .content h2, #tab-content-4 li .content h2 a.nickname {
font-size: 1.1em;
text-transform: uppercase;
color: #FA3216 !important;
margin: 2px 0 0 !important;
font-family:  Arial, Helvetica, sans-serif !important;
font-weight:bold;
}
#tab-content-4 li .content {
width: 189px;
float: right;
padding-right: 8px;
font-weight: bold;
}
#tab-content-4 li {
display: block;
min-height: 48px;
background: #F7F7F7;
margin:0 0 3px 0;
width:300px;
}
#tab-content-4 #period-position li{
  min-height:84px;
}
#tab-content-4 #period-position li .content
{
  width: 179px;  
}

#tab-content-4 li .stat {
width: 30px;
float: left;
text-align: center;
padding-top: 8px;
}
#tab-content-4 li .stat img {
float: none;
}
#tab-content-4 .pen {
float: left;
margin-right: 4px;
margin-top: -2px;
}
#tab-content-4 .thumb_img {
  float:left
}
#tab-content-4 .content_item_month .thumb_img
{
  height:46px;
  overflow:hidden;
}

#tab-content-4 #period-position li {
display: block;
height: 93px;
margin-top: 1px;
padding-top: 6px;
background: #191E24;
}
#tab-content-4 #period-position li .count {
background: white;
color: #454545;
height: 92px;
width: 25px;
margin: -6px 0 0 0;
}
#review_tab a.next_page {
  width: 581px;
  height: 24px;
  line-height: 22px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #96a1aa;
  background: url(../images/plus-btn.png) 0 0 no-repeat;
}
 #review_tab #tab-content-4 a.next_page {
  width: 303px;
}

#review_tab span.next_page {
  display:none;
}
#actualites-wrap {
  padding-left: 30px;
  position: relative;
  margin-bottom: 35px;
}
#actualites-wrap img{
  float: none;
  display: block;
  margin: 0 0 5px 0;
}
#actualites-wrap h2 {
  font-size: 30px;
}
#actualites-wrap a.more {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  padding-left: 23px;
  background: url(../images/sprite.png) -480px 0 no-repeat;
  display: inline-block;
  line-height: 17px;
}
.adult #actualites-wrap a.more {
  background: url(../images/sprite_adult.png) -480px 0 no-repeat;
}
#actualites-wrap a
{
  text-decoration: none;
}
#sub-footer {
  padding: 30px 10px 20px 30px;

  background: #6f7f8d url(../images/sub-f-bg.gif) 0 0 repeat-x;
  clear: both;
  text-transform: uppercase;
}
#sub-footer h2 {
  font-size: 30px;
  margin-bottom: 25px;
  color: #fff;
}
#sub-footer ul {
  display: block;
  overflow: hidden;
  margin-bottom: 0;
}
#sub-footer li {
  float: left;
  margin-right: 3px;
}
#sub-footer li img {
  display: block;
}
#sub-footer li a {
  color: #fff;
  font-size: 18px;
}

#apps h3 {
  margin-bottom: 7px;
}
#apps {
  float: right;
  width: 290px;
 padding-left: 30px;
}
#apps img {
  margin-bottom: 20px;
}

#user-info .alert {
  display: inline-block;
  clear: both;
  line-height: 24px;
  padding: 0 35px;
  background: #fec8c0 url(../images/alert-icon.png) 8px 50% no-repeat;
  margin: 3px 0;
  font-weight: bold;
  color: #fa3216;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#user-info .tooltip {
  position: absolute;
  margin: -40px 0 0 50px;
  right: initial;
  top: initial;
}
.tooltip h4
{
  font-family:  Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}
.tooltip:before, .tooltip:after {
  content: "";
  position: absolute;
  z-index: 1001;
  left: -7px;
  top: 15px;
  border-bottom: 8px solid transparent;
  border-right: 5px solid #e4e4e4;
  border-top: 8px solid transparent;
  height: 0;
  width: 0;
}

.tooltip:before {
  border-right: 5px solid #fff;
  left: -4px;
  z-index: 1002;
}
.tooltip_items:before, .tooltip_items:after {
  border:none;
}
.tooltip h4 {
border-bottom: 1px solid #212A31;
color: #212A31;
margin-bottom: 12px;
padding: 0 15px 8px 0;
}
.tooltip h4 span {
color: #201F20;
font-weight: lighter;
font-size: 0.79em;
}
.tooltip p
{
  font-size: 1.2em;
}

.tooltip p {
  line-height: 14px;
  color: #22272d;
  margin-bottom: 0;
}

.tooltip a.close {
  position: absolute;
  top: 13px;
  right: 10px;
}

.tooltip a.close img {
  border: none;
}

.tooltip p a {
  color: #ff2400;
  font-weight: bold;
}
#user-info .tooltip {
padding: 10px;
width: 290px;
background: white;
border: 3px solid #E4E4E4;
position: absolute;
-moz-box-shadow: 3px 3px 7px #000;
-webkit-box-shadow: 3px 3px 7px black;
box-shadow: 3px 3px 7px black;
z-index: 1000;
}
.tooltip_items
{
margin: -302px 0 0 -391px !important;
width: 390px !important;
height: 240px !important;
}
.tool_float {
float: left;
padding-right: 5px;
}
.tool_right {
float: right;
width: 264px;
font-size:12px;
}
.synopsis {
padding: 0 0 6px 0;
font-size: 1em;
font-weight: bold !important;
}

#user-info-wrap .right li {
overflow: hidden;
}
.comm-reaction
{
  width: 610px;
}

.no_bold {
 font-size: 16px;
 font-weight: normal !important;
}
.tool_right .infos
{
  font-weight: bold;
}