
#slider-wrap {
  padding: 22px 0 21px 20px;
  background: #fff url(../images/slider-bg.gif) 100% 0 repeat-y;
}
#slider-wrap h2 {
  font-size: 40px;
   font-weight: bold;
  line-height: 1;
  float: left;
}
#browse {
  display: inline-block;
  width: 294px;
  line-height: 39px;
  float: right;
  margin: 0 8px 25px 0;
  background: url(../images/sprite.png) 0 0 no-repeat;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
}
#user-info-wrap {
  background: #f0f3f5 url(../images/user-info-bg.gif) 100% 0 repeat-y;
  overflow: hidden;
  padding-bottom: 15px;
}
#user-info-wrap h3 {
  font-weight: normal;
  font-size: 18px;
  color: #212a31;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 8px;
}
#user-info-wrap a.osc {
  font-weight: bold;
  color: #a3c41b;
  font-size: 14px;
  padding-left: 23px;
  background: url(../images/sprite.png) -608px 0 no-repeat;
}


#user-info {
  width: 620px;
  padding: 20px 0 0 20px;
  background: url(../images/user-info-top-bg.gif) 0 0 repeat-x;
  float: left;
}
#user-info .left {
  width: 330px;
  color: #29333b;
}
#user-info .thumb {
  float: left;
  margin: 0 9px 5px 0;
}

#user-info dl {
 display: block;
 clear: both;
 font-size: 11px;
 margin-bottom: 1px;
 overflow: hidden;
}
#user-info dt {
  float: left;
  font-weight: bold;
  width: 175px;
  clear: left;
  margin-bottom: 5px;
}
#user-info dd {
  float: left;
  width: 150px;
  margin-bottom: 5px;
}
#user-info dd span {
  display: block;
}


#user-info .right {
  width: 290px;
}
#user-info .right ul {
  margin-bottom: 15px;
  font-size: 0;
}
#user-info .right li {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: top;
  margin: 0 3px 3px 0;

}
#week-theme {
   width: 290px;
   padding: 20px 0 0 30px;
   float: right;
   background: url(../images/week-theme-bg.gif) 0 0 no-repeat;
}
#week-theme img {
  margin-bottom: 17px;
}
#weekly-selection-wrap {
  background: url(../images/weekly-selection-bg.gif) 0 0 repeat-x;
}
#weekly-selection-wrap {
  padding-top: 22px;
}
#weekly-selection-wrap h2, #community-wrap h2 {
  font-size: 30px;
  color: #212a31;
  margin-bottom: 15px;
  line-height: 1;
  padding-left: 30px;
}
p.intro {
  font-size: 14px;
  color: #4a5863;
  margin-bottom: 7px;
}
.comm-reaction {
  overflow: hidden;
  margin-bottom: 0 !important;
}
.comm-reaction li {
  display: inline-block;
  width: 180px;
  min-height: 160px;
  vertical-align: top;
  margin: 0 20px 20px 0;
  font-size: 10px;
  color: #4a5863;
}
.comm-reaction h3 {
  font-size: 18px;
  margin-bottom: 4px;
}
.comm-reaction .status {
  padding: 2px 10px 4px;
  background: #afbfcb;
  margin-bottom: 4px;
  -moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
font-weight: bold;
font-size: 18px;
text-transform: uppercase;
text-shadow: -1px -1px 0 #9aa9b3;
color: #fff;
}
.comm-reaction .status span {
  float: right;
}
.comm-reaction .thumb {
  float: left;
  margin-right: 8px;
}
.comm-reaction .wrap {
  padding-top: 16px;
}
.comm-reaction h4 {
 font-size: 16px;
 text-transform: uppercase;
}
.comm-reaction a.ajouter, .comm-reaction a.regarder {
  display: inline-block;
  width: 66px;
  line-height: 23px;
  padding-left: 28px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  background: url(../images/sprite.png) -352px 0 no-repeat;
}
.comm-reaction a.ajouter {
  margin-bottom: 3px;
}
.comm-reaction a.regarder {
  background-position: -352px -32px;
}
a.plus-btn {
  width: 581px;
  height: 24px;
  line-height: 22px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #96a1aa;
  background: url(../images/plus-btn.png) 0 0 no-repeat;
}
#actualites-wrap {
  padding-left: 30px;
  position: relative;
  margin-bottom: 35px;
}
#actualites-wrap h2 {
  font-size: 30px;
}
#actualites-wrap a.more {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  padding-left: 23px;
  background: url(../images/sprite.png) -480px 0 no-repeat;
  display: inline-block;
  line-height: 17px;
}
#sub-footer {
  padding: 30px 10px 20px 30px;

  background: #6f7f8d url(../images/sub-f-bg.gif) 0 0 repeat-x;
  clear: both;
  text-transform: uppercase;
}
#sub-footer h2 {
  font-size: 30px;
  margin-bottom: 25px;
  color: #fff;
}
#sub-footer ul {
  display: block;
  overflow: hidden;
  margin-bottom: 0;
}
#sub-footer li {
  float: left;
  margin-right: 3px;
}
#sub-footer li img {
  display: block;
}
#sub-footer li a {
  color: #fff;
  font-size: 18px;
}
#services-wrap {
  overflow: hidden;
  background: url("../images/slider-bg.gif") repeat-y 100% 0 #FFFFFF;
  padding-bottom: 7px;
}
#services-wrap .wrap {
  float: left;
  width: 250px;
  margin-left: 30px;
  padding-right: 40px;
  font-size: 14px;
  color: #29333b;
}

#services-wrap h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
#services-wrap p {
  margin-bottom: 7px;
}
#services-wrap ul {
  margin-bottom: 0;
}
#services-wrap li {
  margin-bottom: 10px;
}
#services-wrap li a {
  font-weight: bold;
  font-size: 14px;
  color: #a3c41b;
  padding-left: 22px;
  background: url(../images/sprite.png) -608px 0 no-repeat;
}


#apps h3 {
  margin-bottom: 7px;
}
#apps {
  float: right;
  width: 290px;
 padding-left: 30px;
}
#apps img {
  margin-bottom: 20px;
}
#subscribe-wrap {
  background: #ff8a00 url(../images/orange-bg-rc.gif) 100% 0 repeat-y;
  overflow: hidden;
}
#subscribe-wrap .wrap {
  float: left;
  width: 610px;
  padding:12px 0 14px 30px;
  background: url(../images/orange-shadow.gif) 0 0 repeat-x;
  overflow: hidden;
}
#subscribe-wrap h3 {
  float: left;
  width: 405px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
#subscribe-wrap #promo {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  width: 150px;
  float: left;
  padding-top: 4px;
}
#subscribe-wrap #subscribe {
  float: right;
  width: 280px;
  padding: 10px 10px 10px 30px;
  background: url(../images/orange-shadow-rc.png) 0 0 no-repeat;
}
#subscribe-wrap #subscribe a.btn {
  display: inline-block;
  width: 254px;
  height: 54px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  background: url(../images/sprite.png) -352px -64px no-repeat;
  text-shadow: -1px -1px 0 #283239;
  margin-bottom: 5px;
}
#subscribe-wrap #subscribe p {
  color: #fff;
  margin-bottom: 0;
  padding-left: 12px;
  font-weight: bold;
  font-size: 14px;
}
#subscribe-wrap #subscribe p a {
  color: #222b33;
  text-decoration: underline;
}
#subscribe-wrap #subscribe p a:hover {
  text-decoration: none;
}




#user-info .alert {
  display: inline-block;
  clear: both;
  line-height: 24px;
  padding: 0 35px;
  background: #fec8c0 url(../images/alert-icon.png) 8px 50% no-repeat;
  margin: 3px 0;
  font-weight: bold;
  color: #fa3216;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#user-info .tooltip {
  position: absolute;
  margin: -40px 0 0 50px;
  right: initial;
  top: initial;
}
.tooltip h4
{
  font-family:  Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}
.tooltip:before, .tooltip:after {
  content: "";
  position: absolute;
  z-index: 1001;
  left: -7px;
  top: 15px;
  border-bottom: 8px solid transparent;
  border-right: 5px solid #e4e4e4;
  border-top: 8px solid transparent;
  height: 0;
  width: 0;
}

.tooltip:before {
  border-right: 5px solid #fff;
  left: -4px;
  z-index: 1002;
}
.tooltip_items:before, .tooltip_items:after {
  border:none;
}
.tooltip h4 {
border-bottom: 1px dotted #A3A4A7;
color: #FA3C16;
margin-bottom: 12px;
padding: 0 15px 8px 0;
}
.tooltip h4 span {
color: #201F20;
font-weight: lighter;
font-size: 0.79em;
}
.tooltip p
{
  font-size: 1.2em;
}

.tooltip p {
  line-height: 14px;
  color: #22272d;
  margin-bottom: 0;
}

.tooltip a.close {
  position: absolute;
  top: 13px;
  right: 10px;
}

.tooltip a.close img {
  border: none;
}

.tooltip p a {
  color: #ff2400;
  font-weight: bold;
}
#user-info .tooltip {
padding: 10px;
width: 290px;
background: white;
border: 3px solid #E4E4E4;
position: absolute;
-moz-box-shadow: 3px 3px 7px #000;
-webkit-box-shadow: 3px 3px 7px black;
box-shadow: 3px 3px 7px black;
z-index: 1000;
}
.tooltip_items
{
margin: -302px 0 0 -391px !important;
width: 390px !important;
height: 240px !important;
}
.tool_float {
float: left;
padding-right: 5px;
}
.tool_right {
float: right;
width: 264px;
font-size:12px;
}
.synopsis {
padding: 0 0 6px 0;
font-size: 1em;
font-weight: bold !important;
}

#user-info-wrap .right li {
overflow: hidden;
}