@charset "UTF-8";
/* CSS Document */


#billi_content{
margin:20px;
color:#20272f;
font-size:14px;

}

#billi_content li{
padding-top:10px;
padding-bottom:10px;
padding-left:20px;

}

#billi_content h1 {
font-size:18px;
color:#FF3300;
text-transform:uppercase;



}

.billi_verification {
border:#20272f solid 1px;
  padding: 0 10px 10px 10px;
      margin-bottom: 20px;

}

.billi_step {
background-color:#d7dbe6;
border:#a6a9ac solid 1px;
width:250px;
text-align:center;
float:right;
padding:10px;
margin-top: -25px;

}
#billi_adresse {
float:left;


}

 .noticeMessage {
    font-size: 9px;
    line-height: 10px;
}
#billi_adresse p{
font-size: 15px;
font-weight:bold;
    margin: 10px 0 10px;}
	
	#billi_adresse input{
	height:20px;
	
	width:250px;}
	
		
	#billi_adresse .little_input input{
	height:20px;
	display:block;
	width:100px;}
	
	#billi_adresse li{
	float:left;
	
	}
	
	#billi_adresse ul{
	
	margin-left:-20px;
	}
	
	@charset "ISO-8859-1";
  /* CSS Document */

  #facebox .body_billi {
  	background: none repeat scroll 0 0 #FFFFFF;
  	width: 370px;
  	color:#20272f;
  	font-size:14px;
  }
  .content_right {
  	float:right;
  	 padding-left: 40px;
      width: 380px;
  }
  .content_left {
      float: left;
       padding-left: 40px;
      width: 380px;
  }

  .content_left a{
    color:#20272f;
    text-decoration:underline;
  }
  .body_billi h1 {
  	text-transform:uppercase;
  	font-size:18px;
  }
  .number {font-size:20px;
  font-weight:bold;

  }

  .body_billi li{
  padding-top:10px;
  padding-bottom:10px;


  }
  .billi_point { padding-left:18px;}

  .body_billi .content_left li{
  display : list-item;
   list-style-image:url(../images/billi_modal/carre.gif);


  }

  .body_billi .content_right .number4 {
  display : list-item;
   list-style-image:url(../images/billi_modal/number_4.gif);


  }

  .body_billi .content_right .number1 {
  display : list-item;
   list-style-image:url(../images/billi_modal/number_1.gif);


  }

  .body_billi .content_right .number2 {
  display : list-item;
   list-style-image:url(../images/billi_modal/number_2.gif);


  }

  .body_billi .content_right .number3 {
  display : list-item;
   list-style-image:url(../images/billi_modal/number_3.gif);


  }
  