@charset "UTF-8";
/* CSS Document */

#header #logout {
  display:block;
  font-size:1.2em;
  padding:2px 5px;
  position:absolute;
  right:16px;
  top:10px;
}
#header h1 span {
  color:#333333;
  display:inline-block;
  margin:-6px 0 0;
}
#vod-wrap h2 {
  font-size: 2em;
  margin-bottom: 5px;
  float:left;
}
.vodtime {
  background:url("../images/icon_time.gif") no-repeat scroll 0 4px transparent;
  float:right;
  font-size:1.6em;
  height:50px;
  padding-left:31px;
  padding-right:31px;
  padding-top:12px;
}
.choice_quality {
  font-size:1.3em;
}
.connect_linkpc {
  padding-right:113px;
  color:#FF4B00;
  text-decoration: underline;
  font-size:1.2em;
}
#vod-wrap .quality a.btn {
  background:url("../images/button_qualityvod.png") no-repeat scroll 18px -9px transparent;
  color:white;
  display:block;
  font-size:1em;
  height:38px;
  line-height:34px;
  padding-left:36px;
  text-shadow:1px 1px 1px #555555;
  width:77px;
}
#vod-wrap .quality a.btn:hover {
  background:url("../images/button_qualityvod.png") no-repeat scroll 18px -45px transparent;
  text-decoration:none;
}
#vod-wrap .quality a.btnselect {
  background:url("../images/button_qualityvod.png") no-repeat scroll 18px -81px transparent;
  color:white;
  display:block;
  font-size:1em;
  height:38px;
  line-height:34px;
  padding-left:36px;
  text-shadow:1px 1px 1px #555555;
  width:77px;
}
#vod-wrap .quality a.btnselect:hover {
  background:url("../images/button_qualityvod.png") no-repeat scroll 18px -45px transparent;
  text-decoration:none;
}
.quality {
  padding-left: 112px;
}
#top_box {
  background:url("../images/vod_connect.jpg") no-repeat scroll 0 0 #FFFFFF;
  border:1px solid #ADADAD;
  height:458px;
  line-height:140%;
  margin-bottom:18px;
  padding:40px;
  width:809px;
}
#top_box p#intro_copy {
  padding-top:69px;
  width:300px;
}
#top_box h1 {
  font-size:37px;
  line-height:95%;
}
#middle_box
{
  background: #fff;
}
#middle_box.popup
{
  margin:20px 50px;
  padding:3px;
}

#top_box h3, #middle_box .options_top h3, #middle_box .list_options p, #middle_box .suggestion h3, #middle_box p.cable_name {
  font-size:14px;
}
#top_box h3, #middle_box .options_top h3, #middle_box .options_top p, #middle_box .list_options p, #middle_box .suggestion h3, #middle_box p.cable_name {
  font-weight:bold;
}
.connector_type, #top_box h3, #middle_box .options_box h2, #middle_box .suggestion h3 {
  color:#FF4B00;
}
#right_box {
  right:72px;
}
#left_box, #right_box {
  position:absolute;
  text-align:justify;
  top:354px;
  width:388px;
}
#top_box p#intro_copy, #top_box p#enjoy {
  font-size:14px;
  font-weight:bold;
}
#top_box p {
  margin-bottom:15px;
}
a:hover, a:active, a:link, a {
  color:#87bc14;
  text-decoration:none;
}
#guide_smallprint p {
  margin:0;
}
#middle_box .options_box h2 {
  height:38px;
  line-height:38px;
  padding-left:15px;
  padding-right:15px;
  padding-top:8px;
}
#middle_box .options_top {
  border-bottom:3px solid #FF4B00;
  border-top:3px solid #FF4B00;
  height:217px;
  margin-bottom:10px;
}
#middle_box .options_top {
  text-align:center;
}
#middle_box .options_top h3 {
  text-align:left;
  padding-top:8px;
}
#top_box h3, #middle_box .options_top h3, #middle_box .list_options p, #middle_box .suggestion h3, #middle_box p.cable_name {
  font-size:14px;
}
#top_box h3, #middle_box .options_top h3, #middle_box .options_top p, #middle_box .list_options p, #middle_box .suggestion h3, #middle_box p.cable_name {
  font-weight:bold;
}
#middle_box .options_top h3, #middle_box .options_top p, #middle_box .options_top img, #middle_box .suggestion h3, #middle_box p.cable_name {
  margin-bottom:10px;
}
#middle_box .guide_buy {
  background:url("../images/buy_btn.gif") no-repeat scroll 0 0 #FFFFFF;
  border:medium none;
  color:#FFFFFF;
  display:block;
  font-size:18px;
  font-weight:bold;
  height:34px;
  line-height:34px;
  margin:0 auto 20px;
  outline:medium none;
  text-align:center;
  width:239px;
}
#middle_box .result_card img {
  height:45px;
  margin-bottom:5px;
  width:108px;
}
#middle_box #option_last {
  margin-right:0;
}
#middle_box .options_box {
  background-color:#FFFFFF;
  border:1px solid #ADADAD;
  display:block;
  float:left;
  margin-right:12px;
  width:288px;
}
#middle_box #audio_suggestion hr {
  background-color:#ADADAD;
  border:medium none;
  color:#ADADAD;
  display:block;
  height:1px;
  margin:0 auto 10px;
  width:275px;
}
#middle_box ul.list_options li .guide_checkbox {
  margin:28px 10px 28px 0;
}
#middle_box ul.list_options li input, .guide_hidden {
  display:none;
}
.p_selected, .p_chosen {
  color:#FFFFFF;
}
.guide_checkbox {
  background-color:#FFFFFF;
  border:1px solid #4C4545;
  float:left;
  height:13px;
  overflow:hidden;
  width:13px;
}
#guide_smallprint {
  background-color:#FFFFFF;
  border:1px solid #ADADAD;
  line-height:140%;
  margin-bottom:18px;
  padding:15px;
  text-align:center;
  width:860px;
}
.composite {
  background:url("../images/composite.gif") no-repeat scroll 0 0px #FFFFFF;
}
.vga {
  background:url("../images/fr/vga.gif") no-repeat scroll 0 0px #FFFFFF;
}
.vga_fr {
  background:url("../images/fr/vga.gif") no-repeat scroll 0 0px #FFFFFF;
}
.vga_en {
  background:url("../images/en/vga.gif") no-repeat scroll 0 0px #FFFFFF;
}
.vga_nl {
  background:url("../images/nl/vga.gif") no-repeat scroll 0 0px #FFFFFF;
}

.hdmi {
  background:url("../images/hdmi.gif") no-repeat scroll 0 0px #FFFFFF;
}
.dvi {
  background:url("../images/dvi.gif") no-repeat scroll 0 0px #FFFFFF;
}
.svideo {
  background:url("../images/svideo.gif") no-repeat scroll 0 0px #FFFFFF;
}
.scart {
  background:url("../images/scart.gif") no-repeat scroll 0 0px #FFFFFF;
}
.component {
  background:url("../images/component.gif") no-repeat scroll 0 0px #FFFFFF;
}
.li_selected, .li_chosen {
  background-position:0 -72px;
}

#middle_box ul.list_options li {
  cursor:pointer;
  display:block;
  height:72px;
  line-height:70px;
  list-style-type:none;
  margin-bottom:5px;
  margin-left:7px;
  padding-left:137px;
}
#top_box *, #middle_box * {
  margin:0;
  padding:0;
}
#middle_box .suggestion h3 {
  text-align:center;
}
p.cable_name {
  text-align:center;
}
.result_card {
  font-size:12px;
  font-weight:bold;
  text-align:center;
}
#middle_box #video_output, #middle_box #audio_output {
  margin: 13px 0 0 13px;
  float: left;
}
#middle_box #video_input, #middle_box #audio_input {
  margin:12px -58px 0 0;
  float: right;
}
.guide_result {
  background:scroll 0 0 #FFFFFF;
  display:block;
  height:90px;
  width:200px;
}
#middle_box ul.list_options li {
  cursor:pointer;
  line-height:70px;
  list-style-type:none;
}
.guide_selected, .guide_chosen {
  background-color:#A82D24;
  border:1px solid #FFFFFF;
}
#order span
{
  margin:0 10px;
  border: 1px solid #87BC14;
  padding: 5px;
  cursor: pointer;
  background: #f3f3f3;
}
#order_new
{
  background:url("../images/bouton_cable.png") no-repeat scroll 0 0 #FFFFFF;
  color:#FFFFFF;
  display:block;
  height:50px;
  padding:18px 9px 0 55px;
  width:224px;
}
#order_description
{
  font-size:15px;
  text-decoration:underline;
}

#billi_content{
  margin:20px;
  color:#20272f;
  font-size:14px;

}

#billi_content li{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;

}

#billi_content h1 {
  font-size:18px;
  color:#FF3300;
  text-transform:uppercase;



}

.billi_verification {
  border:#20272f solid 1px;
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;

}

.billi_step {
  background-color:#d7dbe6;
  border:#a6a9ac solid 1px;
  width:250px;
  text-align:center;
  float:right;
  padding:10px;
  margin-top: -25px;

}
#billi_adresse {
  float:left;


}

.noticeMessage {
  font-size: 9px;
  line-height: 10px;
}
#billi_adresse p{
  font-size: 15px;
  font-weight:bold;
  margin: 10px 0 10px;}

  #billi_adresse input{
    height:20px;

    width:250px;}


    #billi_adresse .little_input input{
      height:20px;
      display:block;
      width:100px;}

      #billi_adresse li{
        float:left;

      }

      #billi_adresse ul{

        margin-left:-20px;
      }

      @charset "ISO-8859-1";
      /* CSS Document */

      #facebox .body_billi {
        background: none repeat scroll 0 0 #FFFFFF;
        width: 370px;
        color:#20272f;
        font-size:14px;
      }
      .content_right {
        float:right;
        padding-left: 40px;
        width: 380px;
      }
      .content_left {
        float: left;
        padding-left: 40px;
        width: 380px;
      }

      .content_left a{
        color:#20272f;
        text-decoration:underline;
      }
      .body_billi h1 {
        text-transform:uppercase;
        font-size:18px;
      }
      .number {font-size:20px;
        font-weight:bold;

      }

      .body_billi li{
        padding-top:10px;
        padding-bottom:10px;


      }
      .billi_point { padding-left:18px;}

      .body_billi .content_left li{
        display : list-item;
        list-style-image:url(../images/billi_modal/carre.gif);


      }

      .body_billi .content_right .number4 {
        display : list-item;
        list-style-image:url(../images/billi_modal/number_4.gif);


      }

      .body_billi .content_right .number1 {
        display : list-item;
        list-style-image:url(../images/billi_modal/number_1.gif);


      }

      .body_billi .content_right .number2 {
        display : list-item;
        list-style-image:url(../images/billi_modal/number_2.gif);


      }

      .body_billi .content_right .number3 {
        display : list-item;
        list-style-image:url(../images/billi_modal/number_3.gif);


      }


/*free movies*/


.content_item	li {
  display: block;
  float: right;
  padding-top: 10px;
  text-align: center;
  width: 237px;
}
.content_item	ul
{   
  margin: 0;
  padding: 0;
}

.content_item	a {

  color: #454545;

  text-decoration: underline;

}



.content_item	a:hover {

  text-decoration: underline;

}

.vod_title {
  font-size: 1.6em;
  font-weight:bold;
}
a.add_choice_button {
  background: url("http://www.dvdpost.be/images/free_movies/button_choice.gif") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding-left: 26px;
  text-align: left;
  text-decoration: none;
  width: 150px;
}
body#ipad {
  text-shadow: none !important;
}
.col_content h2 {
  color: #ff6500;
  font-size: 20px;
  margin: 0 0 17px;
}
.list_visual ul {
  padding-bottom:12px;
}
.col_content {
  float: left;
  padding: 0 0 0 24px;
  width: 650px;
}
.topcontent {
  background-position: 0 0;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: 971px;
}
.col_left .box .top {
  display: block;
  height: 4px;
  overflow: hidden;
}
.col_left {
  border-right: 1px solid #EAEAEA;
  float: left;
  min-height: 400px;
  padding: 0 29px 0 60px;
  width: 194px;
}
.topcontent h1, .topcontent h2, .topcontent p {
  display: block;
  position: absolute;
}
.app.col_content .topcontent h1 {
  left: 343px;
  top: 28px;
}
.appmob .topcontent h1 {
  font-size: 31px;
}
.appmob .topcontent h1 {
  color: #FF6600;
  font-weight: 700;
  line-height: 32px;
  padding-left: 60px;
  padding-top: 13px;
  width: 500px;
}
.topcontent {
  background-image: url(../images/iphone_ipad_bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 95px;
}
.appmob .topcontent {
  height: 500px;
}
.topcontent h2 {
  font-size: 14px;
  font-weight: lighter;
  left: 385px;
  text-align: justify;
  top: 109px;
  width: 430px;
}
.freeribbon {
  background: url("../images/fr/ribbon_free.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 168px;
  left: 100%;
  margin: -1px 0 0 -170px;
  position: absolute;
  top: 0;
  width: 170px;
}
.freeribbon.fr {
  background: url("../images/fr/ribbon_free.png") no-repeat scroll 0 0 transparent;
}	
.freeribbon.en {
  background: url("../images/en/ribbon_free.png") no-repeat scroll 0 0 transparent;
}	
.freeribbon.nl {
  background: url("../images/nl/ribbon_free.png") no-repeat scroll 0 0 transparent;
}	

.list_function {
  font-size: 14px;
  margin: 0 0 30px;
}
.list_function ul {
  padding-left: 20px;
}
.list_function li {
  background: url("../images/box.gif") no-repeat scroll 0 4px transparent;
  padding-bottom: 19px;
  padding-left: 23px;
}
.list_visual li {
  border: 1px solid #000000;
  display: block;
  float: left;
  height: 98px;
  margin-bottom: 30px;
  margin-right: 20px;
  width: 130px;
}
.uservoice {
  text-align: center;
}
.col_left li {
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 10px;
}
.uservoice a {
  color: #ff3200;
  text-decoration: underline;
}
.itunesbox, .facebookbox {
  border: #666666 1px solid;
  padding: 5px;
  text-align:center;
}
.facebookbox ul {
  padding-top:10px;
}

#dvd-intro #col1 p {
  background: url("../images/orange_little_cross.png") no-repeat scroll 0 0 transparent;
  padding-left: 30px;
}


#faqdvd-intro-wrap h2 {
  color: #ff5a00;
  font-size: 27px;
  padding-top: 14px;
  text-transform: uppercase;
}


#faqdvd-intro-wrap h2 span {
  color: #191E23;
  font-size: 24px;
  font-weight: lighter;
}


#faqdvd-intro-wrap h2 {
  font-size: 2em;
  margin-bottom: 15px;
}


#dvd-info-wrap h3 {
  height: 16px;
  text-transform: uppercase;
}


#dvd-plus p {
  background: url("../images/orange_big_cross.png") no-repeat scroll 0 0 transparent;
  height: 28px;
  line-height: 30px;
  padding-left: 36px;
}

#faq-content-wrap {
  padding: 30px 20px 30px 30px;
}
#faq-content-wrap {
  color: #191E24;
  text-shadow: none;
}


#faq-content-wrap #faqdvd_intro .cols {
  float: left;
  font-size: 14px;
  margin-right: 63px;
  padding-bottom: 30px;
  width: 240px;
}

#faqdvd_intro h4 {
  border-bottom: 1px solid #000000;
  color: #36404E;
  font-size: 15px;
  text-transform: uppercase;
}

#prices .title_pricing{
  color: #212A31;
  font-size: 20px;
  line-height: 1;
  font-family:'Open Sans Condensed',sans-serif;
}

#prices .month{
  color: #212A31;
  font-size: 16px;
  font-family:'Open Sans Condensed',sans-serif;
  font-weight: normal;
}

.abo {
  color: #212A31;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  height: 46px;
  background: url(../images/bg_prices.png) repeat-x scroll 0 0 transparent; 
}


#prices h2, #prices h1 {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 45px;
  padding: 0 20px;
  text-align: left;
  font-family:'Open Sans Condensed',sans-serif;
  font-weight: normal;
}

.all-container
{
  background: url("../images/formats-bg.gif") repeat-x scroll 0 0 #C3D1DB;
}

.description {
  text-align:left;
  padding-left:10px;
  padding-right:10px;

}
.sep 
{
  margin:14px;
  font-weight:bold;
  font-size: 16px;
}
#promo_area2
{
  width: 800px;
  text-align: left;
  margin: 14px 11px;
}
#promo_area2 h4
{
  margin: 20px 5px 16px;
  text-align:left;
}
#promo_area2 input
{
  font-size: 16px;
}
.films {
  text-align:center;
  padding-left:6px;
}
a.btn_price
{
  background: url("../images/button-bw.png");
  width: 109px;
  height: 23px;
  padding: 10px 0 0 15px;
  margin: 8px 5px 4px;
  font-weight: bold;
  text-transform: uppercase;
  color: #212A31;
  display: block;
}
a.btn_price.nl {
  width: 115px;
  padding: 10px 0 0 6px;
  font-size: 12px;
}
a.btn_price:hover
{
  background: url("../images/button-bw.png") 0 36px;
}
.go
{
  background: url("../images/button-bw.png");
  width: 122px;
  height: 33px;
  padding: 4px 0 0 0px;
  border: none;
}
.go:hover
{
  background: url("../images/button-bw.png") 0 36px;
}
#promo_area2 a
{
  color: #212A31;
  font-weight: bold;
}
#aste{
  font-size:10px
}
#error
{
  margin:20px;
  font-size:15px;
}
#login
{
  margin:0;
  padding: 2px 25px 5px 13px;
}
#info .wrap
{
  display:inline;
}
#info #footer .wrap
{
  display:block;
}
#footer .osc, h1, h2, h3, h4, h5 {
  font-family: 'Open Sans Condensed', sans-serif;
}
#info #footer .wrap a {
  color: #566068;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  text-align: left;
  text-transform: none;
  font-weight:normal;
}
#info .wrap a {
  color: #212A31;
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 27px;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;

}
#info #top .wrap a {
  color: white;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  text-align: center;
  text-transform: none;
}
#info #top .wrap {
  display: block;
}
#info #top .wrap
{
  color: #4A5863;
}
#info #footer .wrap a:hover
{
  text-decoration:underline !important;
}


#prices {
  background-color:#FFFFFF;
  background: none repeat-y scroll 100% 0 white !important;
  padding: 5px 14px;
}
.prices-container h3 {
  background: url("../images/square.gif") no-repeat scroll 0 15px transparent;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 5px;
  text-transform: uppercase;
  padding-bottom:15px;
}
#prices h2, #prices h1 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;

}
.prices-container p {
  color:#212a31;
  font-size:14px;
}
.prices-container {
  float:left;
  width:654px;
}
#formule_tab {
  background-color:#fff;
  height: 310px;
  padding-top: 8px;
  width: 659px;
}
.formule {
  float: left;
  width: 186px;
  list-style:none !important;
  padding: 0 16px 30px;

}
.formule h4 {
  font-size:20px;
}
.formule img {
  opacity:0.5;
}
.formule.active {
  background-color: #C9C4C4 !important;
}



.formule.active img {
  opacity:1;

}
.formule p {
  font-size: 13px;
  padding-top: 10px;

}


.formule.active .button {
  background-color: #9ECA3B;
  background-image: -moz-linear-gradient(center top , #ACD341, #88BD32);
  background-repeat: repeat-x;
  border: 1px solid #7EA613;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #72942A;
  padding: 5px;
  font-size:15px;
  border-radius: 4px 4px 4px 4px;

}

.formule .button {
  background-color: #EE8419;
  background-image: -moz-linear-gradient(center top , #EE8419, #E26417);
  background-repeat: repeat-x;
  border: 1px solid #D55023;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #D83C14;
  padding: 5px;
  font-size:15px;
  border-radius: 4px 4px 4px 4px;
  margin: 0 8px;
}

.prices {
  border: 1px solid #C4D1DA;
  border-radius: 4px 4px 4px 4px;
  float: left;
  height: 275px;
  margin-left: 13px;
  margin-top: 20px;
  padding: 10px 5px;
  width: 136px;
  background: white;
}


.prices.populaire {

  background-color: #88BD32;
  background-image: -moz-linear-gradient(center top , #ACD341, #88BD32);
  height: 306px;
  margin-top: 6px;
}




.prices  .button {
  background-color: #9ECA3B;
  background-image: -moz-linear-gradient(center top , #ACD341, #88BD32);
  background-repeat: repeat-x;
  border: 1px solid #7EA613;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #72942A;
  padding: 5px;
  font-size:15px;
  border-radius: 4px 4px 4px 4px;
}


.prices h2 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align:center;

}

.prices h2 span {
  font-size: 19px;
  font-weight: normal;
  line-height: 12px;
  text-transform: none;

}

.prices p {
  background: url("../images/check_prices.png") no-repeat scroll 0 0 transparent;

  padding-left: 27px;
}


.prices h4 {
  font-size: 44px;
  font-weight: bold;
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align:center;
  width: 126px;
  margin: 0;
}
.prices.populaire h2 {
  color: #3A450A;

}
.prices.populaire h4 {

  color:#3a450a;

}
.desktop #prices h2 {
  padding:0;
  text-align:center;
}
.desktop #prices h1 {
  padding:0;
  text-align:left;
}
.desktop #prices .populaire h2
{
  background-color: transparent;
}
.prices.populaire p {

  color:#3a450a;

}	 

.prices h4 span {
  font-size: 19px;
  font-weight: normal;
  line-height: 12px;
  text-transform: none;

}



.prices.populaire .button {
  background-color: #EE8419;
  background-image: -moz-linear-gradient(center top , #EE8419, #E26417);
  background-repeat: repeat-x;
  border: 1px solid #D55023;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #D83C14;
  padding: 5px;
  font-size:18px;
  border-radius: 4px 4px 4px 4px;
}

.faq-info-wrap h4
{
  cursor:pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size:13px;
}
.faq-info-wrap h4 .close{
  background: url("../images/plus_moins.png") no-repeat scroll 0 0 transparent;
  padding-left: 20px;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
  vertical-align: top;
} 

.faq-info-wrap h4 .open{
  background: url("../images/plus_moins.png") no-repeat scroll 0 -16px transparent;
  padding-left: 20px;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
  vertical-align:top;
}
.faq-info-wrap p {
  padding-left: 20px;
  padding-top: 0px;
}

.faq-container {

  background-color: #C4D1DA;
  background-image: -moz-linear-gradient(center top , #D9E0E4, #C4D1DA);
  padding: 10px;
  position: absolute;
  margin: 71px 0 0 675px;
  width: 245px;
}

.faq-container h3{
  text-transform:uppercase;
  font-size:24px;
  padding-bottom:10px;

}

#aste {
  color:#212A31;
  font-size:12px;
  padding-top:20px;
  padding-bottom:20px;
}

.prices-container #subscribe-wrap h3 {
  color: #3A450A !important;
  float: left;
  font-family: 'Open Sans Condensed',sans-serif;
  font-size: 25px !important;
  font-weight: normal !important;
  line-height: 36px;
  width: 405px;
  background:none;
  padding-bottom:0px;
  padding-left:0px;
  padding-top:0px;
}

.prices-container #subscribe-wrap .wrap {
  background: #88BD32 -moz-linear-gradient(center top , #ACD341, #88BD32) !important;
  background: #88BD32 -webkit-gradient(linear,center top , center bottom, from(#ACD341), to(#88BD32)) repeat-x !important;

  float: left;
  overflow: hidden;
  padding: 12px;
  width: 369px;
}

.prices-container #subscribe-wrap {

  height: 91px!important;

}


.prices-container #subscribe-wrap #subscribe {
  background: #88BD32 -moz-linear-gradient(center top , #ACD341, #88BD32) !important;
  background: #88BD32 -webkit-gradient(linear,center top , center bottom, from(#ACD341), to(#88BD32)) repeat-x !important;

  padding: 12px;
  width: 237px;
}




.prices-container #subscribe-wrap #subscribe a.btn {
  background: #EE8419 -webkit-gradient(linear,center top , center bottom, from(#EE8419), to(#E26417)) repeat-x !important;
  background: #EE8419 -moz-linear-gradient(center top , #EE8419, #E26417) repeat-x !important;
  border: 1px solid #D55023;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #FFFFFF;
  font-size: 25px;
  width: 220px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  text-shadow: 0 -1px 0 #D83C14;
}


#subscribe-wrap span {
  color: #FFFFFF !important;
  font-weight: bold !important;
}

.formula.active {
  padding-top: 28px;
  padding-bottom: 20px;
  background-color: #C9C4C4;
}

.icon_populaire {
  display: block;
  height: 51px;
  left: -25px;
  margin-bottom: -40px;
  position: relative;
  top: -35px;
}
.icon_populaire.fr
{
  background: url("../images/fr/pluspopulaire.png") no-repeat scroll 0 0 transparent;
}
.icon_populaire.nl
{
  background: url("../images/nl/pluspopulaire.png") no-repeat scroll 0 0 transparent;
}
.icon_populaire.en
{
  background: url("../images/en/pluspopulaire.png") no-repeat scroll 0 0 transparent;
}

.content #promo_area2
{
  width: 350px;
}
.q p
{
  color: #4A5863;
}
.question
{
  display: inline-block;
  width: 225px;
}
.adult .prices .button {
    background-color: #bd1f83;
    background-image: -moz-linear-gradient(center top , #da2698, #bd1f83);
    background-repeat: repeat-x;
    border: 1px solid #bd1f83;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px;
    text-shadow: 0 -1px 0 #891b61;
}

.adult .prices-container h3 {
    background: url(../images/square_adult.gif) no-repeat scroll 0 15px transparent;
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 5px;
    text-transform: uppercase;
}


.adult .prices.populaire {
    background: #da2698; /* Old browsers */
background: -moz-linear-gradient(top, #da2698 0%, #bd1f83 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da2698), color-stop(99%,#bd1f83)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #da2698 0%,#bd1f83 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #da2698 0%,#bd1f83 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #da2698 0%,#bd1f83 99%); /* IE10+ */
background: linear-gradient(to bottom, #da2698 0%,#bd1f83 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da2698', endColorstr='#bd1f83',GradientType=0 ); /* IE6-9 */

}


.adult  .prices.populaire .button {
    background: #576774; /* Old browsers */

background: -moz-linear-gradient(top,  #576774 0%, #2d3942 99%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#576774), color-stop(99%,#2d3942)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #576774 0%,#2d3942 99%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #576774 0%,#2d3942 99%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #576774 0%,#2d3942 99%); /* IE10+ */

background: linear-gradient(to bottom,  #576774 0%,#2d3942 99%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576774', endColorstr='#2d3942',GradientType=0 ); /* IE6-9 */


    border: 1px solid #2d3942;
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: #FFFFFF;
    font-size: 18px;
    padding: 5px;
    text-shadow: 0 -1px 0 #1a2126;
}


.adult .formule h4 {
    font-size: 20px;
    padding-bottom: 10px;
}

.adult .formule {
    float: left;
    list-style: none outside none !important;
    padding: 0 16px 30px;
    width: 186px;
	padding-top: 10px;
}

.adult .formule.active .button {
   background: #da2698; /* Old browsers */
background: -moz-linear-gradient(top, #da2698 0%, #bd1f83 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da2698), color-stop(99%,#bd1f83)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #da2698 0%,#bd1f83 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #da2698 0%,#bd1f83 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #da2698 0%,#bd1f83 99%); /* IE10+ */
background: linear-gradient(to bottom, #da2698 0%,#bd1f83 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da2698', endColorstr='#bd1f83',GradientType=0 ); /* IE6-9 */
    border: 1px solid #bd1f83;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px;
    text-shadow: 0 -1px 0 #891b61;
}

.adult .formule p {
    font-size: 13px!important;
    padding-top: 10px!important;
}

.adult #subscribe-wrap {
     background: #da2698!important; /* Old browsers */
background: -moz-linear-gradient(top, #da2698 0%, #bd1f83 99%)!important;/* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da2698), color-stop(99%,#bd1f83))!important;/* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important;/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important; /* IE10+ */
background: linear-gradient(to bottom, #da2698 0%,#bd1f83 99%)!important;/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da2698', endColorstr='#bd1f83',GradientType=0 )!important; /* IE6-9 */
}

.adult  .prices-container #subscribe-wrap .wrap {
     background: #da2698!important; /* Old browsers */
background: -moz-linear-gradient(top, #da2698 0%, #bd1f83 99%)/* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da2698), color-stop(99%,#bd1f83))!important;/* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important;/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important; /* IE10+ */
background: linear-gradient(to bottom, #da2698 0%,#bd1f83 99%)!important;/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da2698', endColorstr='#bd1f83',GradientType=0 )!important; /* IE6-9 */
    float: left;
    overflow: hidden;
    padding: 12px;
   width: 360px!important;
}


.adult .prices-container #subscribe-wrap #subscribe {
    background: #da2698!important; /* Old browsers */
background: -moz-linear-gradient(top, #da2698 0%, #bd1f83 99%)/* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da2698), color-stop(99%,#bd1f83))!important;/* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important;/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important; /* IE10+ */
background: linear-gradient(to bottom, #da2698 0%,#bd1f83 99%)!important;/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da2698', endColorstr='#bd1f83',GradientType=0 )!important; /* IE6-9 */
	    padding: 12px;
    width: 238px;
}


.adult .prices-container #subscribe-wrap #subscribe a.btn {
    background: #576774!important; /* Old browsers */

background: -moz-linear-gradient(top,  #576774 0%, #2d3942 99%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#576774), color-stop(99%,#2d3942))!important; /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #576774 0%,#2d3942 99%)!important; /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #576774 0%,#2d3942 99%)!important; /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #576774 0%,#2d3942 99%)!important; /* IE10+ */

background: linear-gradient(to bottom,  #576774 0%,#2d3942 99%)!important; /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576774', endColorstr='#2d3942',GradientType=0 )!important;/* IE6-9 */

    border: 1px solid #2d3942;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: #FFFFFF;
    font-size: 25px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    text-shadow: 0 -1px 0 #1a2126;
    width: 220px;
}



.adult .prices-container #subscribe-wrap h3 {
    background: none repeat scroll 0 0 transparent;
    color: #2e3a43 !important;
    float: left;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 25px !important;
    font-weight: normal !important;
    line-height: 36px;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    width: 405px;
}




.adult  .formule .button {
     background: #576774; /* Old browsers */

background: -moz-linear-gradient(top,  #576774 0%, #2d3942 99%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#576774), color-stop(99%,#2d3942)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #576774 0%,#2d3942 99%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #576774 0%,#2d3942 99%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #576774 0%,#2d3942 99%); /* IE10+ */

background: linear-gradient(to bottom,  #576774 0%,#2d3942 99%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576774', endColorstr='#2d3942',GradientType=0 ); /* IE6-9 */

    border: 1px solid #2d3942;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px;
      text-shadow: 0 -1px 0 #1a2126;
}

.adult  #header.adult{
 

        height: 100px !important;
}

.adult .faq-info-wrap p {
    padding-left: 20px!important;

    padding-top: 10px!important;

}

.adult  .prices.populaire h4 {
    color: #fff;
}

.adult .faq-info-wrap h4 {
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif!important;
    font-size: 13px!important;
}

.adult .prices.populaire p {
    color: #fff;
}

.adult  .desktop #prices .populaire h2 {
    background-color: transparent!important;
}


.adult .prices.populaire h2 {
   color: #fff;
}


.adult .prices h2 span {
    font-size: 19px;
    font-weight: normal;
    line-height: 21px;
    text-transform: none;
}




 .adult  #prices h2 {
   margin-top: 15px!important;
     margin-bottom: 10px;
    text-align: center;
}

.adult .prices h4 span {
    font-size: 19px;
    font-weight: normal;
    line-height: 42px;
    text-transform: none;
}

.adult .prices h4 {
    font-size: 44px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    padding-bottom: 7px;
    text-align: center;
    text-transform: uppercase;
    width: 126px;
}

.adult .faq-container a
{
  color: #BD1F83;
}