/*
===============
developed by Vel
at http://www.vhg-design.com
===============
*/
ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, form, fieldset, p {
  margin: 0;
  padding: 0;
}



fieldset {
  border: none;
}

input, select, button {
  font: normal 1em Arial, Helvetica, sans-serif;
  border: none;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

.left_review {
  float: left;
}

.right_review {
  float: right;
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}

.miso {
  font-family: "MisoRegular", sans-serif;
}

h1.miso, h2.miso, h3.miso, h4.miso, h5.miso, .miso strong {
  font-family: "MisoBold", sans-serif;
  font-weight: normal;
}

/*   Content   */

#flash-news-ttl {
  list-style: none;
  display: block;
  height: 25px;
  margin-bottom: 7px;
}
#flash-news-ttl li {
  float: left;
  padding-right: 11px;

}


#flash-news-ttl h3 {
  line-height: 25px;
  font-size:2em;
  color: #ff4b00;
  padding-left: 40px;
  background: url(../images/rss-icon.png) 2px 0 no-repeat;
}
#flash-news-ttl li a {
  margin: 7px 0 0;
border-left: 1px dotted #000;
  font-weight: bold;
  color: #5c6377;
  padding:0 18px 0 11px;
  display: block;
  background: url(../images/hp-ttls-nav-arrow.gif) 100% 1px no-repeat;
}
#flash-news {
  display: block;
  padding: 12px 0 8px 9px;
  background: #fff;
  border: 1px solid #454545;
  margin-bottom: 20px;
  -moz-box-shadow:5px 5px 2px #919191;
-webkit-box-shadow:5px 5px 2px #919191;
box-shadow:5px 5px 2px #919191;
}
#flash-news li {
  width: 280px;

  margin: 0 0 0 10px;
  float: left;
  display: block;
  overflow: hidden;
  font-size: 0.88em;
}
#flash-news li a {
  color:#454545;
}

#flash-news img {
  width:70px;
  height:70px;
  padding:5px;
  float: left;
}
h2#n-c {
  font-size: 2em;
  color: #fa3216;
  height: 50px;
  padding: 10px 0 0 65px;
  background: url(../images/community-icon.gif) 0 0 no-repeat;
}
#tabs-review {
  list-style: none;
  height: 33px;
  background: url(../images/tabs-bg.png) 0 100% repeat-x;
  display: block;
  margin-bottom: 0;
}
#tabs-review li {
  float: left;
  background: url(../images/tabs-delim.png) 100% 100% no-repeat;
}
#tabs-review li.last {
  background: transparent;
}
#tabs-review li a {
  display: block;
  height: 33px;
  line-height: 36px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1.33em;
  font-weight: bold;
}
#tabs-review li a:hover {
  color: #d3d3d3;
}
#tabs-wrap
{
  width:940px;
}

#tabs-review li a#tab1 {
  width: 210px;
}
#tabs-review li a#tab2 {
  width: 255px;
}
#tabs-review li a#tab3 {
  width: 260px;
}
#tabs-review li a#tab4 {
  width: 204px;
}
#tabs-review li a.active {
  background: #fff;
  color: #191e24;
  cursor: default;
  border: 1px solid #2b333e;
  border-bottom: none;
  margin: -1px 0 -1px -2px;
  -moz-border-radius: 4px 4px 0px 0px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
border-radius: 4px 4px 0px 0px;
}
#tabs-review li:first-child a.active {
margin: -1px -2px -1px 0;
}


.tab-content {
  background: #fff;
  padding: 12px 17px;
border: 1px solid #2b333e;
  border-top: none;
  -moz-box-shadow:3px 3px 2px #919191;
-webkit-box-shadow:3px 3px 2px #919191;
box-shadow:3px 3px 2px #919191;
}
.tab-content h3 {
  font-weight: normal;
  font-size: 1.50em;
  margin-bottom: 20px;
}
#tab-content-1 ul, #tab-content-3 ul {
  margin-right: -15px;
}
#tab-content-1 li, #tab-content-3 li {
  float: left;
  display: block;
  width: 289px;
  margin: 0 15px 15px 0;
}
.tab-content li h2 {
  font-size: 1.4em;
  
  margin-bottom: 4px;
  height:20px;
  overflow: hidden;
}
#tab-content-1 li .content, #tab-content-3 li .content {
  float: right;
  width: 156px;
  height: 112px;
  position: relative;
  background: #f7f7f7;
  font-size: .92em;
  padding: 3px 3px 3px 6px;
  color: #36404e;
  font-weight: bold;
}
#tab-content-1 li .content .stars-wrap, #tab-content-3 li .content .stars-wrap {
  display: block;
  margin-bottom: 8px;
}
.review_rate a {
    color: #444444;
    text-decoration: underline;
}
.review_rate a:hover;{
  text-decoration: none;

}
#tab-content-1 li .content a.view-all, #tab-content-3 li .content a.view-all {
  padding-right: 15px;
  background: url(../images/hp-ttls-nav-arrow.gif) 100% 0 no-repeat;
}
.tab-content a.btn {
  background:url(../images/ajouter-btn-mid.png) no-repeat scroll 0 0 transparent;
color:#FFFFFF;
display:inline-block;
height:26px;
line-height:27px;
padding-left:26px;
text-align:left;
text-decoration:none;
text-shadow:-1px -1px 0 #c92902;
width:60px;
font-weight: bold;

}
.tab-content a.btn:hover {
 background-position: 0 -29px;
 text-shadow:-1px -1px 0 #cd5101;
}
#tab-content-1 li .content a.btn, #tab-content-3 li .content a.btn {
position: absolute;
left: 6px;
bottom: 15px;
}



#tab-content-1 li .thumb {
  float: left;
  width: 109px;
  height: 118px;

}
#tab-content-1 li .thumb .stat-wrap {
  background: #191e24;
  float: left;
  width: 28px;
  border-right: 3px solid #fff;
  text-align: center;
  height: 118px;
}


#tab-content-1 li .thumb h4 {

  color: #fff;
  font-size: 1.5em;
  margin: 3px 0 47px;
}


#tab-content-1 li .thumb img {
  float: right;
  border: 1px solid #8e8e8e;

}
#tab-content-1 li .thumb .stat, #weekly-position li .stat, #period-position li .stat {
  display: block;

  font-size: 1.17em;
  font-weight: bold;
}
#tab-content-1 li .thumb .stat img, #weekly-position li .stat img, #period-position li .stat img {
  float: none;
  border: none;
  margin:0 auto 2px;
  display: block;
}
#tab-content-1 li .thumb .up, #weekly-position li .up, #period-position li .up {
  color: #7eca31;
}
#tab-content-1 li .thumb .down, #weekly-position li .down, #period-position li .down {
  color: #ff1301;
}
#tab-content-1 li .thumb .new, #weekly-position li .new, #period-position li .new {
  color: #fbb21d;
  font-weight: normal;
  font-size: 0.67em;
  text-transform: uppercase;
}
#tab-content-1 li .thumb .new img, #weekly-position li .new img, #period-position li .new img {
  margin-bottom: 5px;
}

#tab-content-1 li .thumb .no-change, #weekly-position li .no-change, #period-position li .no-change {
  color: #fa6818;
}
#tab-content-1 li .thumb .no-change img, #weekly-position li .no-change img, #period-position li .no-change img {
 margin-bottom: 4px;
}
.tab-content a.next_page {
  display: block;
  line-height: 33px;
  background: #f7f7f7;
  text-align: center;
   border: 1px solid #9c9b9b;
   clear: both;
   text-decoration: none;
}
.tab-content a.next_page span {
  font-weight: bold;
  font-size: 1.17em;
  padding: 0 15px;
  background: url(../images/more-btn-arrow.gif) 100% 50% no-repeat;
}
.tab-content a.next_page:hover span,.tab-content a.next_pageo span {
  background: none repeat scroll 0 0 #9C9B9B;
  display: block;
  text-align: center;
  text-decoration: none;
	color:#191e24;
}
#tab-content-2 ul {
  margin: 0 -15px;
}


#tab-content-2 li {
  float: left;
  display: block;
  width: 433px;
  margin: 0 15px 30px;
}
#tab-content-2 h2 {
  margin-bottom: 8px;
}


#tab-content-2 li .content {
  float: right;
  width: 314px;
  min-height: 205px;
  padding: 8px 5px 0 10px;
  background: #f7f7f7;
  overflow: hidden;
}
#tab-content-2 li .critic {
}
.critique p
{
  margin : 1px 0 !important;
}

#tab-content-2 li .critic img {
 float: left;
 border: 1px solid #838383;
 margin-right: 6px;
}
#tab-content-2 li .critic .name {
  font-size: 0.83em;
  text-transform: uppercase;
}
#tab-content-2 li .critic .name img {
  border: none;
}


#tab-content-2 li .critic .name strong {
  color: #fa3216;
  font-size: 1.20em;
}
#tab-content-2 li .critic .name a.all_critics {
   font-size: 1.10em;
   text-transform: none;
   padding-right: 15px;
   background: url(../images/hp-ttls-nav-arrow.gif) 100% 0 no-repeat;
   margin-bottom: 10px;
   display: inline-block;
}



#tab-content-2 li .critic .stars-wrap img {
  float: none;
  margin: 0;
  border: none;
  vertical-align: baseline;
}
#tab-content-2 li .content p {
  line-height: normal;
  margin: 10px 0;
}
#tab-content-2 li .content .write {
  margin-bottom: 7px;
}
#tab-content-2 li .content .write a {
  font-size: .92em;
  font-weight: bold;
  padding-left: 15px;
  background: url(../images/speach-bbl.png) 0 0 no-repeat;
}
#tab-content-2 li .content .relevant {
   font-size: .92em;
   color: #414850;
}
#tab-content-2 li .content .relevant strong {
  color: #191e24;
}
#tab-content-2 li .content .relevant a {
  font-weight: bold;
}


#tab-content-2 li .thumb {
  float: left;
  width: 100px;
  text-align: center;
}
#tab-content-2 li .thumb img {
  border: 1px solid #272727;
  margin-bottom: 4px;
}
#tab-content-3 li .content {
  width: 184px;
  padding-left: 9px;
}

#tab-content-3 li .thumb {
  float: left;
  width: 78px;


}
#tab-content-3 li .thumb img {
border: 1px solid #8e8e8e;
}
#tab-content-3 li .content a.btn {
  left: 9px;
  bottom: 4px;
}
#tab-content-3 li .content .votes {
  margin-top: 10px;
  font-size: 1.17em;
  font-weight: bold;
}
#tab-content-3 li .content .votes .up {
  padding: 5px 19px 0 0;
 background: url(../images/thumb-up.png) 10px 0 no-repeat;
}
#tab-content-3 li .content .votes .down {
  padding: 5px 19px 0 0px;
 background: url(../images/thumb-down.png) 10px 2px no-repeat;
}

#positions h4 {
  padding: 0 6px;
  line-height: 27px;
  background: #8997aa;
  color: #fff;
  font-size: 1.33em;
  margin-bottom: 20px;
}
#weekly-position {
  float: left;
  width: 415px;
}
#weekly-position ul {
  margin-bottom:10px;
}


#weekly-position li {
  display: block;
  height: 48px;
  margin-bottom: 3px;
  background: #f7f7f7;
}
#weekly-position li .count {
  width: 26px;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 1.17em;
  padding-top: 7px;
  height: 41px;
  display: block;
  background: #181d23;
  color: #fff;
}
#weekly-position li .content {
  width: 292px;
  float: right;
  padding-right: 8px;
  font-weight: bold;
}
#weekly-position li .content h2, #weekly-position li .content h2 a.nickname {
  font-size: 1em;
  text-transform: uppercase;
  color: #fa3216;
  margin: 2px 0 0 !important;
}
#weekly-position li .content p {
  margin: 0;
  text-transform: uppercase;
  color: #36404e;
  font-size: .92em;
}
#weekly-position li .content a {
   font-size: .92em;
}


#weekly-position li .stat {
  width: 36px;
  float: left;
  text-align: center;
  padding-top: 8px;
}
#weekly-position li .stat img {
  float: none;

}
#weekly-position li .new {
  font-size: .83em;

  font-weight: bold;
}


#weekly-position li img.thumb {
  width: 46px;
  float: left;
}

#period-position {
  float: right;
  width: 415px;
}
#period-position ul {
  display: block;
  border-bottom-color:#FFFFFF;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#020405;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#020405;
  border-right-style:solid;
  border-right-width:1px;
}
#period-position li {
  display: block;
  height: 73px;
  margin-top: 1px;
  padding-top: 10px;
  background: #191e24;
}
#period-position li:first-child {
  margin-top: 0;
   border-top: 1px solid #020405;
}
#period-position li .count {
background: #fff;
display:block;
float:left;
font-size:1.17em;
font-weight:bold;
height:73px;
padding-top:10px;
text-align:center;
width:25px;
margin-top: -10px;
}
#period-position li .content {
  float: right;
  font-weight:bold;
padding-right:8px;
width:277px;
}
#period-position li .content h2,#period-position li .content h2 a.nickname {
  font-size: 1em;
  text-transform: uppercase;
  color: #fa3216;
  margin: 8px 0 0;
}
#period-position li .content p {
  color: #8997aa;
  text-transform: uppercase;
  font-size: .92em;
  margin:  0;
}
#period-position li .content a {
  color: #fff;
  font-size: .92em;
}
#period-position li .stat {
 width: 33px;
 float: left;
 padding-top:28px;
text-align:center;
}
#period-position li img.thumb {
  float: left;
  border: 2px solid #FFF;
}

.link_right
{
  float: right;
}
.plume 
{
  border:none;
  margin: 0 0 -2px 0 !important;
  float: none !important;
}

/*   ---------   Float containers fix   ---------   */

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
.pen
{
  float: left;
  margin-right: 4px;
  margin-top: -8px;
}
.smiley
{
  vertical-align: text-bottom;
}



.tab-content li h2 {
    font-size: 1.4em;
 
}

.review_rate a {
  
    text-decoration: none;
}

.average_review {
color:#fc6525;
padding-bottom:10px;
padding-top:3px;
  


}

.month_review {
    font-size: 1.2em;
 
}
a.critics
{
  margin: 0 0 0 2px;
  color:#8997AA !important;
}
a.critics_month
{
  margin: 0 0 0 2px;
  color:#36404E !important;
}
#reviews_description
{
  padding: 0 0 10px 5px;
}