#faq-intro-wrap.fr {
  background: url("../images/bg_faq_fr.jpg") no-repeat scroll -44px 74px transparent ;
  height: 407px;
}
#faq-intro-wrap.nl {
  background: url("../images/bg_faq_nl.jpg") no-repeat scroll -44px 74px transparent ;
  height: 407px;
}
#faq-intro-wrap.en {
  background: url("../images/bg_faq_en.jpg") no-repeat scroll -44px 74px transparent ;
  height: 407px;
}
#faq-intro-wrap h2 {
  color: #85B91A;
  font-size: 27px;
  padding-top: 14px;
}
.adult #faq-intro-wrap h2 {
  color: #BD1F83;
}
#faq-intro-wrap h2 span {
  color: #191e23;
  font-size: 24px;
  font-weight:lighter;
}
#faq-intro-wrap h3 {
  color: #191E23;
  font-size: 21px;
  padding-left: 620px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
}
#faq-intro-wrap h3 span {
  color: #191e23;
  font-size: 21px;
  text-transform:uppercase;
  font-weight:lighter;
}
#faq-intro-wrap h3 a {
  color: #85B91A;
  font-size: 14px;
  text-decoration:underline;
  text-transform:none;
}
.adult #faq-intro-wrap h3 a {
  color: #BD1F83;
}
#faq .cols {
  width: 205px !important;
}
#vod-faq {
  border: 0px !important;
  padding:0px !important;
}
#faq h3 {
  height:16px;
  padding-left: 24px;
  background: url(../images/plus_moins.png) no-repeat scroll 0 -16px transparent;
  cursor:pointer;
}
#vod-info-wrap h3 {
  text-transform:uppercase;
  height:16px;
  padding-left: 24px;
  background: url(../images/plus_moins.png) no-repeat scroll 0 -16px transparent;

}
#vod-intro #col1 span p {
  background: none !important;

}
#faq h3.close, #vod-info-wrap h3.close {
  background: url(../images/plus_moins.png) no-repeat scroll 0 0 transparent;
}
#vod-info-wrap a {
  color: #85B91A;
  font-weight:bold;
  text-decoration:underline;
}
.adult #vod-info-wrap a {
  color: #BD1F83;
}

#vod-info {
  border: 0px !important;
}

#vod-plus p {
  background: url("../images/big_cross.png") no-repeat scroll 0 0 transparent;
  height: 28px;
  line-height: 30px;
  padding-left: 36px;
}
.adult #vod-plus p {
  background: url("../images/big_cross_purple.png") no-repeat scroll 0 0 transparent;
}
#vod-button p {
  background: url("../images/green_box.gif") no-repeat scroll 0 7px transparent;
  line-height: 22px;
  padding-left: 20px;
}
.adult #vod-button p {
  background: url("../images/purple_box.gif") no-repeat scroll 0 7px transparent;
}
#vod-plus, #vod-button {
  font-size: 13px;
  padding-bottom: 24px;
  padding-top: 2px;
}
#vod-ecran li#audio {
  padding-top:8px;
  height: 60px;
  font-size:13px;
  color: #191e23;
  line-height: 16px;
}
#vod-ecran li#systeme {
  height: 52px;
  font-size:13px;
  color: #191e23;
  line-height: 16px;
}
#vod-ecran li#extrait_vod {

  font-size:13px;
  color: #191e23;
  line-height: 16px;
}
.content-tabs {
  background:#191e23;
  display: inline-block;
  height: 32px;
}
.content-tabs li {
  float: left;
}
.content-tabs li:first-child a {
  background: none repeat scroll 0 0 transparent;
  padding-left: 16px;
}
#vod-ecran .content-tabs li a.active {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #FFFFFF !important;
  border-color: #191E24 #191E24 -moz-use-text-color;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #191e23;
  position: relative;
  z-index: 100;
}
#vod-ecran .content-tabs li a {
  background: url("../images/tabs-delimiter.gif") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: block;
  font-size: 1.33em;
  font-weight: bold;
  line-height: 32px;
  padding: 0 16px 0 18px;
  text-decoration: none;
}
#vod-ecran li {
  padding-left: 0 ;
}

#vod-ecran #selection-tab1 {
  border: 1px solid #36404E;
  height: 272px;
  border: 0px!important;
}
#vod-ecran #selection-tab1 #tab1, #vod-ecran #selection-tab1 #tab2, #vod-ecran #selection-tab1 #tab3 {
  border: 1px solid #36404E;
  padding: 10px 0px;
}

#vod-ecran .left {
  height: 185px;
  width: 438px;
}

#vod-ecran .left.mac {
  background: url("../images/bg_pcmac.jpg") no-repeat scroll 19px 28px transparent;

}

#vod-ecran .left.ipad {
  background: url(../images/bg_ipad.jpg)no-repeat scroll  30px 17px transparent;
  height: 193px;
}
#vod-ecran .left.android {
  background: url(../images/bg_android.jpg)no-repeat scroll 30px 0 transparent;
  height: 193px;
}


#vod-ecran .left.tv {
  background: url("../images/bg_tv.jpg") no-repeat scroll 0px 28px transparent;
  height: 193px;

}

#vod-ecran .left.tv h3{
  padding-left: 268px;;

}

#vod-ecran .right {
  float: right;
  padding-right: 15px;
  padding-top: 0;
  width: 445px;
}
#vod-ecran li#systeme {
  background: url("../images/systeme-icon.jpg") no-repeat scroll -8px 0px transparent;
}
.adult #vod-ecran li#systeme {
  background: url("../images/systeme-icon_adult.jpg") no-repeat scroll -8px 0px transparent;
}
#vod-ecran li#audio {
  background: url("../images/audio-icon.jpg") no-repeat scroll 2px 15px transparent;
}
.adult #vod-ecran li#audio {
  background: url("../images/audio-icon_adult.jpg") no-repeat scroll 2px 15px transparent;
}
#vod-ecran li#extrait_vod {
  background: url("../images/extrait-icon.jpg") no-repeat scroll -6px 0 transparent;
}
.adult #vod-ecran li#extrait_vod {
  background: url("../images/extrait-icon_adult.jpg") no-repeat scroll -6px 0 transparent;
}
#vod-ecran li#cable {
  background: url("../images/cable-icon.jpg") no-repeat scroll -6px 2px transparent;
  height: 60px;
}
.adult #vod-ecran li#cable {
  background: url("../images/cable-icon_adult.jpg") no-repeat scroll -6px 2px transparent;
  height: 60px;
}
#vod-ecran li#appletv {
  background: url(../images/appletv-icon.jpg) no-repeat scroll -6px 0 transparent;
  height: 60px;
}

#vod-ecran li#smarttv {
  background: url(../images/smartv.jpg) no-repeat scroll -6px 0 transparent;
  height: 60px;
}



#vod-ecran .right li {
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #444444;
  font-size: 0.98em;
  padding-left: 79px;
  text-align:justify;
}

#vod-ecran {
  font-size: 13px;
  padding-bottom: 24px;
  padding-top: 2px;
}

#vod-ecran .left h3 {
  background: none repeat scroll 0 0 transparent;
  color: #85B91A;
  font-size: 15px;
  padding-left: 227px;
  padding-top: 40px;
  text-align: left;
  text-transform: uppercase;
}
.adult #vod-ecran .left h3 {
  color: #BD1F83;
}
#vod-ecran .left h3 span {
  color: #36404E;
  font-weight:lighter;
}


#vod-ecran .left h3 a {
  color: #85B91A;
  font-weight:bold;
  text-decoration:underline;
  font-size:14px;
  text-transform:none;

}
.adult #vod-ecran .left h3 a {
  color: #BD1F83;
}
#faq-content-wrap #faq_intro .cols {
  float: left;
  font-size: 14px;
  margin-right: 26px;
  padding-bottom: 30px;
  width: 277px;
}

#faq_intro h4 {
  border-bottom: 1px solid #000000;
  font-size:15px;
  text-transform:uppercase;
  color: #36404E;
}
#faq-content-wrap #subscribe-wrap {
  background: url("../images/green-bg-rc.gif") repeat-y scroll 100% 0 #AECB3B;
  height: 95px;
  margin-bottom: 30px;
  overflow: hidden;
}
#vod-ecran #selection-tab1 #tab2 h3 {
  background: none repeat scroll 0 0 transparent;
  color: #85B91A;
  font-size: 15px;
  padding-top: 15px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 15px!important;
}


#vod-ecran #selection-tab1 h3 span {
  color: #36404E;
  font-weight: lighter;
}
#vod-ecran #selection-tab1 h4 {
  background: url("../images/square.gif") no-repeat scroll 15px 8px transparent;
  color: #36404E;
  font-size: 16px;
  padding-left: 36px;
  padding-top: 5px;
}
#col1 a{
  padding-top:20px;


}
#vod-intro #col1 p{
  background: url(../images/little_cross.png) no-repeat scroll 0 0 transparent;
  padding-left: 30px;
}
.adult #vod-intro #col1 p {
  background: url(../images/little_cross_purple.png) no-repeat scroll 0 0 transparent;
}

#vod-intro a {
  color: #85B91A;
  font-weight:bold;
  text-decoration:underline;
  font-size:14px;
}
.adult #vod-intro a {
  color: #BD1F83;
}



#vod-intro li#mac {
  background: url(../images/mac.jpg) no-repeat scroll 0 0 transparent;
  height: 45px;
}

#vod-intro li#ipad {
  background: url("../images/ipad.jpg") no-repeat scroll 4px 0px transparent;

}



#vod-intro li#tv {
  background: url(../images/tv.jpg) no-repeat scroll 0 0 transparent;
}


#vod-intro li {
  padding-left:90px;
}

#vod-ecran .left.ipad {
  width: 448px;
  padding-top: 28px;
}

#vod-ecran .right.ipad p strong{
  font-size:16px;
}

#vod-ecran  .right .list_visual li {
  border: 1px solid #000000;
  display: block;
  float: left;
  height: 98px;
  margin-bottom: 30px;
  margin-right: 20px;
  width: 130px;
  padding-left: 0px;
}
#subscribe-wrap #subscribe {
  width: 230px;
  padding: 10px 32px 10px 8px;
}
#faq-content-wrap #subscribe-wrap .wrap {
  background: #88BD32 -moz-linear-gradient(center top , #ACD341, #88BD32) !important;
  background: #88BD32 -webkit-gradient(linear,center top , center bottom, from(#ACD341), to(#88BD32)) repeat-x !important;
}
.adult #faq-content-wrap #subscribe-wrap .wrap,.adult  #faq-content-wrap #subscribe-wrap {
  background: #da2698!important; /* Old browsers */
  background: -moz-linear-gradient(top, #da2698 0%, #bd1f83 99%)/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da2698), color-stop(99%,#bd1f83))!important;/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important;/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #da2698 0%,#bd1f83 99%)!important; /* IE10+ */
  background: linear-gradient(to bottom, #da2698 0%,#bd1f83 99%)!important;/* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da2698', endColorstr='#bd1f83',GradientType=0 )!important; /* IE6-9 */
}

#faq-content-wrap #subscribe-wrap #subscribe
{
  background: transparent;
}
#faq-content-wrap #subscribe-wrap
{
  background: #88BD32 -moz-linear-gradient(center top , #ACD341, #88BD32) !important;
  background: #88BD32 -webkit-gradient(linear,center top , center bottom, from(#ACD341), to(#88BD32)) repeat-x !important;
}
.normal #faq-content-wrap #subscribe-wrap #subscribe a.btn {
  background: #EE8419 -webkit-gradient(linear,center top , center bottom, from(#EE8419), to(#E26417)) repeat-x !important;
  background: #EE8419 -moz-linear-gradient(center top , #EE8419, #E26417) repeat-x !important;
  border: 1px solid #D55023;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #FFFFFF;
  font-size: 25px;
  width: 220px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  text-shadow: 0 -1px 0 #D83C14;
}
.adult #faq-content-wrap #subscribe-wrap #subscribe a.btn
{
  background: #576774!important; /* Old browsers */

  background: -moz-linear-gradient(top,  #576774 0%, #2d3942 99%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#576774), color-stop(99%,#2d3942))!important; /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  #576774 0%,#2d3942 99%)!important; /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top,  #576774 0%,#2d3942 99%)!important; /* Opera 11.10+ */

  background: -ms-linear-gradient(top,  #576774 0%,#2d3942 99%)!important; /* IE10+ */

  background: linear-gradient(to bottom,  #576774 0%,#2d3942 99%)!important; /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576774', endColorstr='#2d3942',GradientType=0 )!important;/* IE6-9 */

  border: 1px solid #2d3942;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #FFFFFF;
  font-size: 25px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  text-shadow: 0 -1px 0 #1a2126;
  width: 220px;
}
