/*
===============
developed by Vel
at http://www.vhg-design.com
===============
*/

ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
}
.osc, h1, h2, h3, h4, h5 {
font-family: 'Open Sans Condensed', sans-serif !important;
}
#header ul, #header ol, #header dl, #header dt, #header dd {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, form, fieldset, p {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 18px;
  line-height: 1.4em;
}

fieldset {
  border: none;
}

textarea {
  overflow: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
}

#wrap {
background: white;
}

.container {}

.container ul, .container ol, .container dl {
  line-height: 1.4em;
}

.f-btn {
  display: block;
  text-indent: -999em;
  outline: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}

.miso {
  font-family: "MisoRegular", sans-serif;
}

h1.miso, h2.miso, h3.miso, h4.miso, h5.miso, .miso strong {
  font-family: "MisoBold", sans-serif;
  font-weight: normal;
}

/*   ============   HOME PAGE   ============   */

#hp-content {
  padding: 15px 8px 15px 8px !important;
  background: #fff;
}

#bienvenue {
  float: left;
  width: 260px;
  padding: 12px 20px;
  border: 1px solid #353535;
  min-height: 228px;
  margin-bottom: 15px;
}

#bienvenue h4 {
  font-size: 1.33em;
}

#bienvenue p {
  margin-bottom: 6px;
}

#bienvenue #liste {
  padding: 4px 20px;
  margin: 10px -20px;
  background: #bd1f83;
  color: #fff;
  font-size: 1.25em;
}

#droite .check, #bienvenue .check {
  margin-left: 5px;
  font-weight: bold;
}

#droite .check span, #bienvenue .check span {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #de005d;
  vertical-align: middle;
}

#droite .check-off, #bienvenue .check-off {
  margin-left: 5px;
}

#droite .check-off span, #bienvenue .check-off span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #ee7fae;
  vertical-align: middle;
}

#dvd-rotation {
  margin-bottom: 4px;
}

#dvd-rotation dt, #dvd-rotation dd {
  font-weight: bold;
  font-size: 1.08em;
  display: inline-block;
  margin-bottom: 4px;
}

*+html #dvd-rotation dt, *+html #dvd-rotation dd {
  display: inline;
  float: left;
}

#dvd-rotation dt {
  width: 168px;
  margin-right: 12px;
  text-align: right;
}

#dvd-rotation dd {
  width: 90px;
  margin-right: -15px;
}

#dvd-rotation dd form {
  display: inline-block;
}

*+html #dvd-rotation dd form {
  display: inline;
}

#dvd-rotation .movix {
  color: #e2007c;
}

#dvd-rotation dd span {
  padding: 0 5px 0 23px;
  border-right: 1px dotted #000;
  background: url(/images/dvd-icon.png) 0 0 no-repeat;
  line-height: 18px;
  display: inline-block;
}

#dvd-rotation dd.movix span {
  background-image: url(/images/dvd-x-icon.png);
}

#dvd-rotation dd input.f-btn {
  width: 13px;
  height: 13px;
  background: url(/images/plus-icon.gif) 0 0 no-repeat;
  cursor: pointer;
}

*+html #dvd-rotation dd input.f-btn {
  display: inline;
  font-size: 0;
  line-height: 0;
}

#en-transit {
  padding: 10px 0 0 20px;
  margin: 0 -20px;
  border-top: 1px solid #353535;
  font-size: 1.08em;
}

#en-transit dl {
  margin-top: 8px;
}

#en-transit dd, #en-transit dt {
  display: inline-block;
  vertical-align: top;
  line-height: normal;
  font-size: .93em;
}

*+html #en-transit dd, *+html #en-transit dt {
  display: inline;
}

#en-transit dt {
  width: 195px;
  padding-right: 10px;
}

#actrice-semaine-wrap {
  width: 630px;
  float: right;
  background: #252528;
  border: 1px solid #201f20;
  min-height: 259px;
  overflow: hidden;
  margin-bottom: 15px;
}

#actrice-semaine {
  float: left;
  width: 190px;
  text-align: center;
}

#actrice-semaine h3 {
  color: #fff;
  font-size: 2em;
  padding: 7px 0 15px;
}

#actrice-semaine img {
  border: 5px solid #fff;
  -moz-box-shadow: 3px 3px 3px #000000;
  -webkit-box-shadow: 3px 3px 3px #000000;
  box-shadow: 3px 3px 3px #000000;
}

#filmographie {
  height: 259px;
  width: 420px;
  padding-left: 20px;
  background: #fff;
  float: right;
  overflow: hidden;
  position: relative;
  -moz-box-shadow: -8px 0px 8px #000000;
  -webkit-box-shadow: -8px 0px 8px #000000;
  box-shadow: -8px 0px 8px #000000;
}

#filmographie h2 {
  color: #e2007c;
  font-size: 2.50em;
}

#filmographie h2 span {
  font: bold 0.47em Arial, Helvetica, sans-serif;
}

#filmographie ul {
  margin-bottom: 8px;
  list-style: none;
}

#filmographie li {
  display: inline-block;
  width: 86px;
  margin-right: 11px;
  text-align: center;
  vertical-align: top;
}

*+html #filmographie li {
  display: inline;
  margin-right: 14px;
}

#filmographie li img {
  border: 1px solid #d9d9d9;
  margin-top: 4px;
}

#filmographie li span.rating img, #filmographie li span.stars img, span.rating img {
  border: none;
  margin: 0;
}

#filmographie li h3 {
  font-size: .92em;
  font-weight: normal;
  color: #333333;
  height: 28px;
  overflow: hidden;
  line-height: normal;
}

#filmographie .links {
  text-align: right;
  padding-right: 8px;
}

#filmographie .links a {
  font-size: .92em;
  font-weight: bold;
  padding-left: 16px;
  background: url(/images/link-arrow.gif) 0 0 no-repeat;
}

.top-wrap {
  width: 465px;
  margin-bottom: 15px;
  float: left;
}

.top-wrap .ttl {
  display: inline-block;
  padding: 6px 12px 0px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #e2007c;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border-radius: 7px 7px 0px 0px;
}

.top-wrap .top {
  padding: 15px 5px 15px 15px;
  background: #edebeb;
  background: -moz-linear-gradient(top, #edebeb, #ffffff);
  background: -webkit-gradient(linear, center top, center bottom, from(#edebeb), to(#ffffff));
  background: -o-linear-gradient(top, #edebeb, #ffffff);
  -pie-background: linear-gradient(#edebeb, #fff);
  min-height: 186px;
}

.top-wrap .top ul {
  list-style: none;
  margin-bottom: 0;
}

#top-rents span.thumb {
  display: inline-block;
  margin-right: 12px;
  width: 130px;
  height: 184px;
  border: 1px solid #b3b3b3;
}

#top-rents ul {
  padding-left: 86px;
  display: inline-block;
  vertical-align: top;
  width: 211px;
  margin-top: 3px;
}

*+html #top-rents ul {
  list-style: none outside;
}

#top-rents li {
  position: relative;
  line-height: 14px;
  margin-bottom: 5px;
}

#top-rents li .rating {
  position: absolute;
  left: -86px;
  top: 0;
}

#top-rents li a {
  text-decoration: none;
}

#top-rents li a:hover {
  font-weight: bold;
}

#top-actrices {
  margin-left: 10px;
}

#top-actrices span.thumb {
  display: inline-block;
  margin-right: 27px;
  width: 147px;
  height: 188px;
  background: #fff;
  text-align: center;
  padding: 4px 0;
  -moz-box-shadow: 3px 3px 3px #555555;
  -webkit-box-shadow: 3px 3px 3px #555555;
  box-shadow: 3px 3px 3px #555555;
}

#top-actrices ul {
  display: inline-block;
  vertical-align: top;
  width: 267px;
  margin-top: 3px;
}

#top-actrices li {
  line-height: 14px;
  padding-left: 17px;
  margin-bottom: 5px;
  background: url(/images/top-actres-arrow.png) 0 2px no-repeat;
  display: block;
  font-size: 1.17em;
}

*+html #top-actrices ul {
  list-style: none outside;
}

#top-actrices li a {
  text-decoration: none;
}

#top-actrices li a span {
  text-decoration: underline;
}

#top-actrices li a:hover {
  font-weight: bold;
}

#nouveautes .miso {
  color: #e2007c;
  font-size: 2.5em;
}

#nouveautes .ttl a {
  font-size: 0.5em;
  padding: 0 17px 0 5px;
  border-left: 1px dotted #4F4F52;
  background: url(/images/link-arrow.gif) 100% 0 no-repeat;
  margin-top: -2px;
  margin-left: 5px;}

#nouveautes ul {
  margin: 3px -10px 0 0;
}

#nouveautes li {
  width: 230px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  vertical-align: top;
}

#nouveautes li h3 {
  float: left;
  width: 140px;
  padding-right: 5px;
  font-size: .92em;
  color: #333333;
  font-weight: normal;
  margin-top: 4px;
}

#nouveautes li h3 strong {
  display: block;
  font-size: 1.09em;
}

#nouveautes li .right {
  width: 85px;
  margin-top: 4px;
}

#nouveautes li .right .rating {
  float: right;
  margin-bottom: 5px;
}

#nouveautes li span.new {
  width: 65px;
  height: 64px;
  display: block;
  position: absolute;
  top: 0;
  right: -3px;
  background: url(/images/new-banner.png) 0 0 no-repeat;
}

*+html .top span.thumb, *+html .top ul, *+html .top-wrap .ttl, *+html #nouveautes li {
  display: inline !important;
}







/*   ---------   Float containers fix   ---------   */

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}




.btn_remove_form {
  background: url(../images/drop-btn-mid.png) 0 -1px no-repeat;
  display: block;
  height: 27px;
  line-height: 24px;
  padding-left: 24px;
  width: 88px;
  padding: 0 9px 0 20px;
  color: white;
  text-shadow: 1px 1px 1px #999999;
  text-align: center;
  font-size: 1.09em;
  margin: 0 0 4px 1px;
}

.btn_remove_form:hover {
  background: url(../images/drop-btn-mid.png) 0 -30px no-repeat;
  text-decoration: none;
}
.add_norm,.add_adult
{
  background: url("../images/plus.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
   cursor: pointer;
   height: 15px;
   text-indent: -999em;
   width: 15px;
}
.rotation_dvd
{
  margin:0px;
}
.rotation_dvd .title
{
  position:absolute;
  width:210px;
}
.rotation_dvd .dvd
{
  margin-left: 180px;
}
.rotation_dvd .dvd img
{
  vertical-align: middle;
}
.form_rotation
{
  width: 15px;
  display: inline;
}
#yes
{
  background: url(../images/bouton_x.png);
  color:#FFFFFF;
  display:block;
  font-size:1.5em;
  height:28px;
  padding: 15px 0 0 35px;
  width:180px;
  text-align: center;
  text-decoration: none;
  margin: 10px 0 0 0
}
.nl#yes
{
  font-size: 1.2em;
}
#no
{
  background: url(../images/boutonsmall_x.png) -15px -5px;
  color:#FFFFFF;
  display:block;
  font-size:1.2em;
  height:28px;
  padding: 13px 0 0 0;
  width:185px;
  text-align:center;
  text-decoration: none
}
#movix_title
{text-align:center;}
#nouveautes .streaming_btn, #filmographie .streaming_btn, #nouveautes .streaming_btn_replay, #filmographie .streaming_btn_replay{
  background:url("../images/add-btn-mid_vod.png") no-repeat scroll 0 -1px transparent;
  color:white;
  display:inline-block;
  font-size:1.09em;
  height:27px;
  line-height:24px;
  padding:0 9px 0 18px;
  text-align:center;
  text-shadow:1px 1px 1px #999999;
  width:62px;
  margin: 0 0 4px 1px;
  text-decoration:none;
  float:right;
}
#nouveautes .btn {
  float:right;
}
#nouveautes .streaming_btn:hover, #filmographie .streaming_btn:hover, #nouveautes .streaming_btn_replay:hover, #filmographie .streaming_btn_replay:hover  {
  background:url("../images/add-btn-mid_vod.png") no-repeat scroll 0 -30px transparent;
}
#filmographie .streaming_btn, #filmographie .streaming_btn_replay
{
  float:none;
} 


div.trailer-week {
  position: relative;
  display: block;
  float: left;
  width: 298px;
  height: 253px;
  margin-left: 10px;
  
}
a.trailer-week span, div.trailer-week a span {
  position: absolute;
  top: 203px;
  right: 10px;
  width: 203px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.42em;
}
a.trailer-week span strong, div.trailer-week a span strong {
  display: block;
  text-transform: uppercase;
  margin-top: 5px;
  height: 20px;
  overflow: hidden;
}
#bandes-annonces {
  float: left;
  width: 599px;
  margin-bottom: 30px;
}
#bandes-annonces ul {
  display: block;
  border: 1px solid #36404e;
  padding-top: 7px;
}
#bandes-annonces li {
  float: left;
  display: block;
  width: 284px;
  height: 100px;
  overflow: hidden;
  margin: 0 7px 7px;
  color: #102537;
}
#bandes-annonces li p a{
  text-decoration: none;
}
#bandes-annonces li p{
  line-height: 1.3em;
}

#bandes-annonces li a.thumb {
  float: left;
  display: block;
  position: relative;
  margin-right: 10px;
  width:124px;
}
#bandes-annonces li a.thumb .play-icon {
  position: absolute;
  right: 2px;
  bottom: 4px;
}
#bandes-annonces li .new {
  display: inline-block;
  padding: 0 4px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  background: #ff3600;
  font-weight: bold;
  margin-bottom: 7px;
}
#bandes-annonces li h3 {
  font-size: 1em;

}
#coup-de-coeur-wrap .ttl, #nouveautes .ttl, #bandes-annonces .ttl, #top-loues-wrap .ttl, #selection-week-wrap .ttl {
  font-size: 1.83em;
  color: #bd1f83 !important;
  margin-bottom: 7px;
  font-weight: bold;
}
#selection-week-wrap .ttl
{
  background: none !important;
  padding:0 !important;
}
#top-loues-wrap {
  float: right;
  width: 332px;
}
#top-loues {
  border: 1px solid #36404e;
  height: 214px;
  padding: 7px 7px 0;
}
#top-loues ul {
  float: right;
  width: 173px;
}
#top-loues li {
  margin-top: 5px;
}
#top-loues ul li:first-child {
  margin-top: 0;
}
#top-loues li a {
  color: #676666;
  text-decoration: none;
}
#top-loues li a:hover {
  color: #000;
   font-weight: bold;
}

#top-loues .thumb-wrap {
  float: left;
  position: relative;
  border: 1px solid #adadad;
  width: 133px;
  overflow: hidden;
}
#banners {
display: block;
margin: 0 9px 0px -8px;
background: #F2F2F2 url(../images/banners-bg.gif) 0 0 repeat-x;
padding: 25px 0 15px;
width: 960px;
}
#banners li {
  float: left;
  display: block;
  width: 279px;
  position: relative;
  margin: 0 14px;
}
#banners li a.streaming_btn, #banners li a.streaming_btn_replay {
   display: inline-block;
   width: 84px;
   line-height: 31px;
   background: url(../images/banners-btn-bg.png) 0 0 no-repeat;
   color: #fff;
   font-size: 11px;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
   padding-left:30px;
   position: absolute;
   bottom: 9px;
   left: 50%;
   margin-left: -57px;
}
#banners li a.streaming_btn:hover, #banners li a.streaming_btn_replay:hover {
  text-decoration: underline;
}
#contact-wrap
{
  background: white;
}
.container ul, .container ol, .container dl {
  margin-bottom: 0px;
}
.adult #header h1 a {
height: 47px;
background: url(/images/logo_adult.png) 0 0 no-repeat;
}
#options {
  font-size: 1.50em;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  color :#201F20;
  margin:10px;
}
#options a, p#letters a, ul#search-studio li li a, ul#search-performers li li a, p#filter a {
  text-decoration: none;
}
#options a:hover, #options a.active, p#letters a:hover, ul#search-studio li li a:hover, ul#search-performers li li a:hover,
p#filter a:hover, p#filter a.active {
  color: #e2007c;
}
#options a.right {
  font-size: 0.61em;
  text-decoration: underline;
  padding-left:16px;
  background: url(../images/link-arrow.gif) 0 0 no-repeat;
}
*+html #options a.right {
  position: absolute;
  top: 5px;
  right: 0;
}


#options a.right:hover {
  text-decoration: none;
}
.ico img
{
  vertical-align: text-bottom;
}