.category_theme .oscar h3 {
    background: url("/images/oscar_title.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    height: 27px;
    margin: 14px 20px;
    padding: 55px 50px 10px;
    text-transform: uppercase;
}
.category_theme .cesar h3 {
    background: url("/images/cesar_title.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    height: 27px;
    margin: 14px 20px;
    padding: 55px 50px 10px;
    text-transform: uppercase;
}

.category_theme {
	width:915px;
	margin:10px;
	
	
}
#carousel ul {
  left: 7px !important;
}
#carousel li {
margin:0 4px 24px !important;;
}
.selection_theme_oscar { 

border:#c1a049 solid 1px;
height:270px;
 width: 915px;
margin-top:-24px;
margin-left:20px;

}
#collection li {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    vertical-align: top;
	padding-top: 12px;
    width: 182px;
}

.collection {
background: #c3d1db;
padding:20px 0 20px 17px;
width: 943px;
margin: 0 0 20px;


}

#collection h2 {
text-align:left;
padding:10px;
background: #c3d1db;
font-family: 'Open Sans Condensed', sans-serif !important;

}

.clearfix {
    display: inline-block;
}
#carousel a.ajouter {
  display: inline-block;
  width: 66px;
  line-height: 23px;
  padding-left: 28px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  background: url(../images/sprite.png) -352px 0 no-repeat;
}
#carousel a.regarder {
  display: inline-block;
  width: 66px;
  line-height: 23px;
  padding-left: 28px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  background: url(../images/sprite.png) -352px -32px no-repeat;
}
#carousel a.ajouter:hover, #carousel a.regarder:hover
{
  text-decoration:underline;
}