html, body
{
  background: none !important;
}
#wrap {
  margin: 0 !important;
  width:700px !important;
  background: none  !important;
}
#maincontent_no_border
{
  width:700px !important;
  margin:0px !important;
  padding:0px !important;
}
#vod-wrap h2 {
  padding-left: 1px !important;
}
.choice_language {
  margin-left:2px !important;
}
.intro_vod {
  padding-left:1px !important;
}