@charset "UTF-8";
/* CSS Document */

#mywhishlist-nav li {
  float: left;
  margin-right: 3px;
  text-transform: uppercase;
}


#mywhishlist-nav li a {
background: url("/images/tabs-bg.png") repeat-x scroll 0 100% transparent;
color: #909498;
display: block;
font-size: 14px;
line-height: 26px;
padding: 0 10px;

}
#mywhishlist-nav li a:hover {
color: #212A31;
text-decoration: none;
}
#mywhishlist-nav li.current a {
background: url("/images/tabs-bg.png") repeat-x scroll 0 100% transparent;
color: #212A31;
}
h2
{
  clear:both;
  margin:5px 0;
}
.box .vod, .box .bluray, .box .dvd, .box .bluray3d
{
  border-bottom: 1px solid #B7BDC1;
  border-top: 1px solid #9EABB5;
  margin:2px;

}
.box .vod div, .box .bluray div, .box .dvd div, .box .bluray3d  div, .box .vod ul, .box .bluray ul, .box .dvd ul, .box .bluray3d  ul, .box .vod span, .box .bluray span, .box .dvd span, .box .bluray3d  span{
  display:inline-block;
  vertical-align: top;
    padding:6px 0 0 0px;
  
}
.box .HML
{
  border-left: 1px solid #B7BDC1;
  border-right: 1px solid #9EABB5;
  padding: 6px 5px 0 5px !important;
}
.availability, .tooltips_item
{
  display:none !important;
}
.wishlist_remove {
background: url("../images/trash-icon.png") no-repeat scroll 0 0 transparent;
border: 0 none;
cursor: pointer;
height: 15px;
text-indent: -999em;
width: 11px;
}
#on-way-nav
{
  display:none;
}
.HML
{
  display:none;
}
.title
{
  
  width: 250px;
}
.title a {
  color: #212A31;
}
#addwishlist_explain {
    color: #191E24;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
}

#movie_title h3 {
    color: #212A31;
    font-size: 20px;
	padding-top:10px;
    margin-bottom: 17px;
    text-align: center;
}


.table div.legende span.col2 {
    color: #1B2228;    font-size: 11px;
    height: 20px;
    margin-top: 50px;
    text-align: left;
    text-transform: uppercase;
}

.table div.legende span.col1 {
    color: #1B2228;    font-size: 11px;
    height: 20px;
    margin-top: 50px;
    text-align: left;
    text-transform: uppercase;
}

.table div.legende span.col3 {
    color: #1B2228;    font-size: 11px;
    height: 20px;
    margin-top: 50px;
    text-align: left;
    text-transform: uppercase;
}

.table div.legende span.col4 {
    color: #1B2228;
    font: 16px;
    height: 20px;
    margin-top: 50px;
    text-align: left;
    text-transform: uppercase;
}

.table span.col1 {
    border-right: 1px solid #9AA8B1;
    color: #212A31;    font-size: 11px;
 
    height: 70px;
    padding: 15px 8px 10px;
    width: 80px;
}


.table span.col2 {
    border-right: 1px solid #9AA8B1;
    height: 70px;
    padding: 15px 8px 10px;
    width: 80px;
	  font-size: 11px;
}

.table span.col3 {
    height: 70px;
    padding: 15px 8px 10px;
    width: 80px;
}

.table span.col4 {

    height: 70px;    font-size: 11px;
    padding: 15px 8px 10px;
    width: 150px;
}

.table span.col5 {
    height: 70px;
    padding: 15px 17px 10px;
    width: 139px;  
}

.table span {
    display: inline;
    float: left;
}

.table div {
    clear: left;
}

.table #vod {
    border-bottom: 1px solid #B7BDC1;
    border-top: 1px solid #9EABB5;
    height: 100%;
    margin-bottom: 20px;
}
.table #dvd {
    border-bottom: 1px solid #B7BDC1;
    border-top: 1px solid #9EABB5;
    height: 100%;
    margin-bottom: 20px;
}


.lang li.left {
    margin-left: 2px;
}

.lang li {
  color: #1B2228;
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
  height: 13px;
  line-height: 19px;
  padding: 0;
  text-align: center;
  width: 16px;
}

input, select, textarea, button {
    font: 1em Arial,Helvetica,sans-serif;
	border:#ffffff 1px solid;
	background:#FFFFFF;
	height: 17px;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	
}

.content a {
text-decoration:underline;
padding-left: 10px;
    font-size: 12px;
	font-weight:bold;
  
}

ul.lang {
    font-size: 11px;
	font-weight:bold;
}

.gray.special {
/*    background: url("../images/muet.gif") no-repeat scroll 0 0 transparent;
    width: 51px !important;*/
}
