<div style="position:relative !important; margin: 20px auto;width:400px" id="facebox">
  <div class="popup">
    <table>
      <tbody>
        <tr>
          <td class="tl"></td>
          <td class="b"></td>
          <td class="tr"></td>
        </tr>
        <tr>
          <td class="b"></td>
          <td class="body"><div class="content">
              <div id="movix_title">Accès membres MOVIX</div>
             
              <%= link_to 'yes', validation_path(:valid => 1) %>
      
                <div id="movix_explain">
                  <span class="attention_movix">Avertissement</span>
                  <p>Ces pages sont strictement réservées à un public averti. Elles sont susceptibles de contenir des textes et des images pouvant heurter la sensibilité de certaines personnes.</p>
                  <p>Vous devez être âgé d'au moins 18 ans pour accéder à cette partie du site.</p>
                </div>
           
            </div>
            <div class="footer" style="display: block;"> <a class="close" href="<%= root_path(:kind => :normal) %>"> FERMER </a> </div></td>
          <td class="b"></td>
        </tr>
        <tr>
          <td class="bl"></td>
          <td class="b"></td>
          <td class="br"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
