<div class='item'>
  <div class='image'><%= image_tag detail.image(@survey.to_param) %></div>
  <div class="check" id="check_<%= detail.to_param %>"><%= detail.to_param %></div>
  <div class="answers"><%= item_title(@survey, detail) %></div>
</div>
