<% path = studio_products_path(:studio_id => studio_pict.to_param, :filter => params[:filter]) %>
<div style="float:left">
  <%= link_to image_tag(studio_pict.image), path, :alt => studio_pict.name , :class => "distributors" %>
</div>
