<% time = type == :adult ? 6 : 5 %>
<% size = type == :adult ? 205 : 121 %>
<div style="width:700px;margin:10px 0 0 0">
  <% time.times do |i| %>
    <% t = i + 1 %>
    <div style="float:left; margin:3px">
    <%= image_tag product.preview_image(t, type), :style => "max-width:#{size}px", :alt => "" %>
    </div>
  <% end %>
  <div style="clear:both"></div>
</div>