<!--   ==============   MAIN CONTENT   ==============   -->
<% logger.debug("@@@ top #{@top.inspect}") %>
  <% if !@top.nil? %>
    <div id="all">
      <%= render :partial => 'products/index/hp' %>
    </div>
  <% else %>
   <div id="all">  
    <%= render :partial => 'products/index/all' %>
  </div>
<% end %>
