<ul id="right-nav" class="<%= I18n.locale %>">
  <li>
    <h3 class="f-btn <%= I18n.locale %>"><%= t('.categories') %></h3>
  </li>
  <% categories.each do |li| %>
    <li>
      <%= link_to t(".cat_#{li.to_param}"), chronicles_path(:category_id => li.to_param), :class => params[:category_id]== li.to_param ? 'selected' : 'nothing' %>
    </li>
  <% end %>
</ul>