<div id="maincontent" >
  <div id="about-article">
    <div class="ttl"><img src="/images/chronicles/a-propos.png" width="117" height="24" alt="A Propos" /></div>
    <p>Une porte entrouverte sur un espace de critiques, de réflexions  d'un certain regard que le cinéma peut apporter sur la Société, sur l'actualité du moment ou sur des créations cinématographiques multiples .</p>
    <p>C'est vous donner l'envie, peut-être, de découvrir des films, d'en revoir certains ,traversant les frontières et toutes les cultures par le biais d'un très large choix de films proposés par DVDPOST que ce soit en DVD /BR ou en VOD.</p>
    <p>J'essayerai au mieux de continuer ces  petites "chroniques"  « coup de coeur et cinéma découverte» que j'avais déjà développé durant une vingtaine dans ma Vidéothèque "les Enfants du Paradis" anciennement située à Ixelles.</p>
    <p>Pour ceux qui s'en souviennent et pour ceux qui le découvrent, je vous souhaite à tous la bienvenue sur ce nouvel espace.</p>
  <img src="/images/chronicles/sig.jpg" width="170" height="96" alt="" id="sig" />
  </div><!-- #about-article --> 
  
</div>
