<div id="maincontent" >
  <div id="about-article" class="lang_<%= I18n.locale %>">
    <div class="ttl"><img src="/images/chronicles/a-propos_<%= I18n.locale %>.png" width="117" height="24" alt="A Propos" /></div>
    <%= t('.about') %>
    <img src="/images/chronicles/sig.jpg" width="170" height="96" alt="" id="sig" />
    <br /><br /><br /><br />
  </div><!-- #about-article --> 
  
</div>
