  <a href="<%= info_path(:page_name => :billi_modal)%>" id="billi_modal"><img src="/images/header.jpg"  border="0"/></a>
  <div id="billi_content">
  <h1>1. Vérifiez que vous n’êtes pas tenu par votre opérateur actuel</h1>
    <p>Vous devez avant tout vous assurer que vous n’êtes pas tenu chez votre opérateur actuel. Cette information se trouve parfois au dos de votre facture (chez Belgacom par exemple). Sinon, un simple coup de fil suffit:</p>
    <p>
    <ul>
      <li> <strong>Belgacom: 0800 33 800</strong></li>
      <li><strong>Telenet: 02 304 66 66</strong></li>
      <li><strong>Voo: 078 50 50 50</strong></li>
      <li><strong>Numericable: 02 226.53.53</strong></li>
    </ul></p>
    <h1>2. Testez votre ligne. commandez ensuite sur le site ou appelez-nous au 0800 95 990</h1>
    <iframe src='http://myaccount.billi.be/website/commande/?idFromSite=dvdpost' height="1000" width='1020' frameborder="0"></iframe>
  </div>
</div>