<p><img src="/images/billi_modal/header.jpg" /></p>
  <div class="content_left">
    <h1>Comparez Billi !</h1>
    <p><img src="/images/billi_modal/billi_hand.jpg" /></p>
    <p><strong>En plus d'être le meilleur, Billi est le moins cher du 
      marché ! Et pour preuve...</strong></p>
    <p >
    <ul class="billi_point">
      <li> Billi offre 15 chaînes dans son bouquet qui sont payantes
        chez Belgacom.</li>
      <li>La première offre triple play illimitée de Telenet est 2 fois plus  
        chère que Billi </li>
      <li> A 64,43&euro; le triple play net intense de Belgacom n'inclut ni 
        GSM ni WebTV Any Screen</li>
      <li> Vous ne devez plus hésiter !</li>
    </ul>
    </p>
    <p align="right"><a href="<%= info_path(:page_name => :billi_modal2)%>" id="billi_modal">Voir le tableau comparatif complet</a></p>
  </div>
  <div class="content_right">
    <h1>4 bonnes raisons de choisir Billi</h1>
    <p><img src="/images/billi_modal/billi_box.jpg" /></p>
    <p>
    <ul>
      <li  class="number1">Satisfaction du client : qualité, prix, service, tout y est !</li>
      <li  class="number2">Qualité du produit : la meilleure du marché. </li>
      <li  class="number3">Innovation : web TV, fonction Pause/Live TV, contrôle parental, Internet propre, ... </li>
      <li class="number4"><strong>Simplicité : 39,99 &euro;/mois pour profiter de tous les services</strong></li>
    </ul>
    </p>
  </div>
  <div class="clear"></div>