
<br /><br />
<div align="center"><img src="http://www.dvdpost.be/images/free_movies/header.jpg" width="950" height="413" /></div>
<div>
  <ul class="clearfix content_item">
    <li>
    <span class="vod_title">Vicky Cristina Barcelona</span>
      <p><a href="">Plus d'info</a></p>
      <p align="center"><a href="" class="btn add_choice_button" id="" title="Regarder en streaming">Regarder en streaming</a></p>
    </li>
    <li>
      <span class="vod_title">Le Gamin au Vélo</span>
      <p><a href="">Plus d'info</a></p>
     <p align="center"><a href="" class="btn add_choice_button" id="" title="Regarder en streaming">Regarder en streaming</a></p>
    </li>
    <li>
    <span class="vod_title">La Chat du Rabbin</span>
      <p><a href="">Plus d'info</a></p>
      <p align="center"><a href="" class="btn add_choice_button" id="" title="Regarder en streaming">Regarder en streaming</a></p>
    </li>
    <li>
    <span class="vod_title">Largo Winch II</span>
      <p><a href="">Plus d'info</a></p>
       <p align="center"><a href="" class="btn add_choice_button" id="" title="Regarder en streaming">Regarder en streaming</a></p>
    </li>
  </ul>
  <div style="clear:both"></div>
</div>