<br /><br />
<div style="margin:10px" align='center'>
<%= image_tag "#{DVDPost.images_path}/free_movies/landingpage_relance_fr.jpg" %>
<br />
<br />
  <%= t '.title' %>
<br />
<%= render :partial => '/messages/new/question', :locals => {:message => @message, :category_ticket_id => 7, :text => t('.body'), :category_hide => 1} %>
</div>
<br />
<br />
