<div id="promo_area2">
  <p class="text_promo" ><%= t '.title' %></p>
	<form name="form1" method="post" action="<%= php_path 'activation_code_confirm.php' %>" align="center">
  		<input name="code" id="code" class="inputs_codes" value="<%= params[:code] %>" size="20" type="text">
  		<input class="no_border_button" name="imageField" src="http://www.dvdpost.be/images/jb/button_go.gif" type="image" align="absmiddle" border="0" >
	</form>
</div>