<div class="banner_title">DECOUVREZ NOTRE CATALOGUE DE PLUS DE 30.000 TITRES</div>
<div class="banner_step" align="center">
  <p><span class="red_font">14 JOURS D'ESSAI GRATUIT</span><br />
          NOMBRE DE DVD/BLU-RAY <br />
          ILLIMITE & 2 FILMS EN VOD</p>
        <span><a href="" target="_blank" class="signup_button">JE VEUX M'INSCRIRE MAINTENANT </a></span> <span><a id="codePromo" href="/promotion.php">vous avez un code promo? <span>cliquez ici</span></a></span>
</div>