<div class="banner_title">DECOUVREZ NOTRE CATALOGUE DE PLUS DE 30.000 TITRES</div>
<div class="banner_step" align="center" style='background: url("http://www.dvdpost.be/images/landings_public/<%= I18n.locale%>/bg_banner_<%= rand(5)+1 %>.jpg") no-repeat scroll 32px 0pt transparent;'>
  <p><span class="red_font">14 JOURS D'ESSAI GRATUIT</span><br />
          NOMBRE DE DVD/BLU-RAY <br />
          ILLIMITE & 2 FILMS EN VOD</p>
        <span><a href="http://www.dvdpost.be/step1.php" target="_blank" class="signup_button">JE VEUX M'INSCRIRE MAINTENANT </a></span> <span><a id="codePromo" href="<%= info_path(:page_name => 'promo') %>">vous avez un code promo? <span>cliquez ici</span></a></span>
</div>