<!--   ==============   FOOTER   ==============   -->
   <div id="footer" >
   	<div class="wrap">
     	<ul>
         	<li><h4>Explore</h4></li>
             <li><a href="">Film</a></li>
             <li><a href="#">Serie TV</a></li>
             <li><a href="#">Reportage</a></li>
             <li><a href="#">Sitemap</a></li>
             <li><a href="#">Contact</a></li>
         </ul>
         <ul>
         	<li><h4>Follow Us</h4></li>
             <li><a href="#">Facebook</a></li>
             <li><a href="#">Twitter</a></li>
             <li><a href="#">Netlog</a></li>
         </ul>
         <ul>
         	<li><h4>HOW IT WORKS</h4></li>
             <li><a href="#">Lorem </a></li>
             <li><a href="#">ipsum </a></li>
             <li><a href="#">dolor </a></li>
             <li><a href="#">sit amet</a></li>
             <li><a href="#">consetetur </a></li>
             <li><a href="#">sadipscing</a></li>
         </ul>
         <ul>
         	<li><h4>About DVD Post</h4></li>
             <li><a href="#">Lorem </a></li>
             <li><a href="#">ipsum </a></li>
             <li><a href="#">dolor </a></li>
             <li><a href="#">sit amet</a></li>
             <li><a href="#">consetetur </a></li>
             <li><a href="#">sadipscing</a></li>
         </ul>
     </div>
   </div>
   <!--   ==============   END FOOTER   ==============   -->
 <% if current_customer %>
<!-- Google Code for Clients &lt;30 days Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1033549176;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "2DPWCOjT1gEQ-Orq7AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1033549176/?label=2DPWCOjT1gEQ-Orq7AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<% else %>
<div id="footer_jb"></div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
  	var pageTracker = _gat._getTracker("UA-7320293-1"); //public
  	pageTracker._trackPageview();
  } catch(err) {}</script>		
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1121531-1"); //all
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- Google Analytics tag -->
<% if I18n.locale == :fr %>
  <!-- Google Code for Visitors public Remarketing List -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1033549176;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "666666";
	var google_conversion_label = "ost4CODU1gEQ-Orq7AM";
	var google_conversion_value = 0;
	/* ]]> */
	</script>
	<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1033549176/?label=ost4CODU1gEQ-Orq7AM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
<% else %>	
		<!-- Google Code for Visitors public NL Remarketing List -->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 1033549176;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "666666";
		var google_conversion_label = "GlvaCMj11gEQ-Orq7AM";
		var google_conversion_value = 0;
		/* ]]> */
		</script>
		<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1033549176/?label=GlvaCMj11gEQ-Orq7AM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>
<% end %>		

<% end %>
