<div class="jbwrapper">
  <div class="jbcontainer">
    <div class="jblogo"><a href="/default.php">DVDPost.be</a></div>
    <div class="jbtopnav">
      <ul class="top-nav">
        <li class="langues"><a href="/default.php?language=fr">FR</a></li>
        <li class="langues"><a href="/default.php?language=nl">NL</a></li>
        <li class="langues"> <a href="/default.php?language=en">EN</a> </li>
        <li><a class="login" href="/login.php">Login membres</a></li>
      </ul>
      <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>
    <div class="breadcrumb"><a href="" class="link_selected">Accueil &gt;</a> <a href="">Découvez notre catalogue</a></div>
  </div>
</div>