<div id="nav-wrap">
  <ul id="nav">
    <li><a href="#" id="nav1">Accueil</a></li>
    <li><a href="#" id="nav2">Catalogue</a></li>
    <li><a href="#" id="nav3">Ma liste</a></li>
    <li><a href="#" id="nav4">Mon compte</a></li>
    <li><a href="#" id="nav5">Aide</a></li>
    <li><a href="#" id="nav6">Parrainage</a></li>
  </ul>
  <form method="post" action="" id="search">
    <input type="text" value="Rechercher" />
    <div id="filters"> <a href="#">Tous</a>
      <ul>
        <li>
          <h4>Rechercher :</h4>
        </li>
        <li>
          <label>
          <input type="radio" />
          Tous</label>
        </li>
        <li>
          <label>
          <input type="radio" />
          <strong>DVD</strong></label>
        </li>
        <li>
          <label class="green">
          <input type="radio" />
          <strong>VOD</strong></label>
        </li>
      </ul>
    </div>
    <input type="image" src="images/search-btn.png" alt="GO" />
  </form>
</div>