<% if trailer.class.name == 'StreamingTrailer' %>
<div id='content_trailer'>
      <% audio = trailer.languages.by_language(:fr).first.short_alpha %>
      <% sub = trailer.subtitles.count > 0 ? trailer.subtitles.by_language(:fr).first.short_alpha : 'non' %>
    <% url = DVDPost.akamai_hls_trailer_url(trailer.imdb_id, audio, sub, trailer.videoland)%>
    <div id="player"></div>
    <script type="text/javascript">
        var flashvars = {
            src: "<%= url %>"
            , autoPlay: 'true'
            , verbose: true
            , controlBarAutoHide: true
            , controlBarPosition:'bottom'
            , plugin_hls: '/HLSProviderOSMF.swf'
        };
        var params = {
            allowFullScreen: true
            , allowScriptAccess: "always"
            , bgcolor: "#000000"
        };
        var attrs = {
            name: "player"
        };

        swfobject.embedSWF("/GrindPlayer.swf", "player", "696", "389", "10.2", null, flashvars, params, attrs);
    </script>
    
    <%= render :partial => 'products/show/versions', :locals => {:versions => trailers, :current_trailer => trailer} if trailers.count > 1 %>
</div>
<% else %>


<div id='content_trailer'>
<p>
  <video id="my_video_1" class="video-js vjs-default-skin" controls
    preload="auto" width="320" height="132" 
    data-setup="{}">
    <source src="<%= trailer.remote_id %>" type='video/mp4'>
  </video>
</p>
<div id='pagination'>
<%= will_paginate trailers, :class => 'products-pagination', :previous_label => '«', :next_label => '»', :param_name => 'trailer_page', :id => 'trailer_pagination' if trailers %>
</div>
</p>
</div>
<% end %>