<div id='content_trailer'>
<p>
  <video id="my_video_1" class="video-js vjs-default-skin" controls
    preload="auto" width="640" height="264" poster="<%= image_path "play_mobile.gif" %>"
    data-setup="{}">
    <source src="<%= trailer.remote_id %>" type='video/mp4'>
  </video>
</p>
<div id='pagination'>
<%= will_paginate trailers, :class => 'products-pagination', :previous_label => '«', :next_label => '»', :param_name => 'trailer_page', :id => 'trailer_pagination' if trailers %>
</div>
</p>
</div>